<div class="preconfigured">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div class="palm-header">New Server</div>
	
	<div class="palm-header-spacer" style="height: 50px;"></div>
	
	<div class="palm-list">
		<div class="palm-row single" x-mojo-tap-highlight="momentary" id="custom">
			<div class="palm-row-wrapper custom">
				<div class="title">
					Custom
				</div>
			</div>
		</div>
	</div>
	
	<div class="palm-list">
		<table class="palm-divider labeled">
			<tr>
				<td class="left"></td>
				<td class="label">
					Preconfigured
				</td>
				<td class="right"></td>
			</tr>
		</table>
		<div id="networkList" x-mojo-element="List"></div>
	</div>
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>
