<div class="server-status">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div class="palm-header left">
		<div id="popButton" x-mojo-tap-highlight="momentary"><div class="icon"></div></div>
		<div id="networkLag"></div>
		<span id="title"></span> - Server Messages
	</div>
	
	<div class="palm-header-spacer" style="height: 50px;"></div>
	
	<div id="connectButton" x-mojo-element="Button"></div>
	
	<div id="messageList" x-mojo-element="List"></div>
	
	<div id="inputFooter" class="inputFooter">
		<div class="palm-row-wrapper textfield-group focused">
			<div class="title">
				<div id="inputWidget" x-mojo-element="TextField"></div>
				<div id="sendButton" class="sendButton" x-mojo-tap-highlight="immediate"></div>
			</div>
		</div>
	</div>
	
</div>