<div class="palm-dialog-box">
	<div class="palm-dialog-wrapper">
 
		<div class="palm-dialog-content">
			<div class="dialog-title" id="dialogTitle"></div>
			<div id="palm-dialog-separator" class="palm-dialog-separator"></div>
		</div>
		
		<div class="palm-group unlabeled">
			<div class="palm-list">
			
				<div class="palm-row single">
					<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
						<div class="title">
							<div class="label" id="textLabel"></div>
							<div id="textField" x-mojo-element="TextField"></div>
						</div>
					</div>
				</div>
			
			</div>
		</div>
		
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td width="50%"><div x-mojo-element="Button" id="okButton"></div></td>
				<td width="50%"><div x-mojo-element="Button" id="cancelButton"></div></td>
			</tr>
		</table>     
		
	</div>
</div>