<div class="form prefs" id="container">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div class="help-toggle" id="help-toggle" x-mojo-tap-highlight="persistent"></div>
			<div id="pageSelector" class="page-selector">
				<div id="pageName" class="page-name">none</div>
			</div>
			<div class="icon"></div>
			<div class="title">Preferences</div>
		</div>
	</div>
	
	
	<div class="palm-group">
		<div class="palm-group-title">Global</div>
		<div class="palm-list">
			
			<div class="palm-row first">
				<div class="palm-row-wrapper">
					<div class="help-overlay" id="help-theme"></div>
					<div id="theme" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
			<div class="palm-row">		
				<div class="palm-row-wrapper">
					<div class="help-overlay" id="help-cmdHistoryMax"></div>
					<div id="cmdHistoryMax" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
			<div class="palm-row last">
				<div class="palm-row-wrapper">
					<div class="help-overlay" id="help-blockScreenTimeout"></div>
					<div class="label left">Block Screen Timeout</div>
					<div id="blockScreenTimeout" x-mojo-element="ToggleButton"></div>
				</div>
			</div>
				
		</div>
	</div>
	
	<div class="palm-group">
		<div class="palm-group-title">Server Status</div>
		<div class="palm-list">
			
			<div class="palm-row single">
				<div class="palm-row-wrapper">
					<div class="help-overlay" id="help-statusPop"></div>
					<div class="label left">Default In New Card</div>
					<div id="statusPop" x-mojo-element="ToggleButton"></div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="palm-group">
		<div class="palm-group-title">Connection</div>
		<div class="palm-list">
			
			<div class="palm-row first">
				<div class="palm-row-wrapper">
					<div class="help-overlay" id="help-useExternalIP"></div>
					<div class="label left">Use External IP</div>
					<div id="useExternalIP" x-mojo-element="ToggleButton"></div>
				</div>
			</div>
			
			<div class="palm-row">
				<div class="palm-row-wrapper">
					<div class="help-overlay" id="help-connectionTimeout"></div>
					<div id="connectionTimeout" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
			<div class="palm-row">
				<div class="palm-row-wrapper">
					<div class="help-overlay" id="help-lagMeter"></div>
					<div class="label left">Lag Meter</div>
					<div id="lagMeter" x-mojo-element="ToggleButton"></div>
				</div>
			</div>
			
			<div id="autoPing">
				
				<div class="palm-row">
					<div class="palm-row-wrapper">
						<div class="help-overlay" id="help-autoPingInterval"></div>
						<div id="autoPingInterval" x-mojo-element="ListSelector"></div>
					</div>
				</div>
				
			</div>
			
			<div class="palm-row last" id="interfaceWrapper">
				<div class="palm-row-wrapper">
					<div class="help-overlay" id="help-piface"></div>
					<div id="piface" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
			<div id="fallbackInfo">
			
				<div class="palm-row last">
					<div class="palm-row-wrapper">
						<div class="help-overlay" id="help-aiface"></div>
						<div class="label left">Use fallback</div>
						<div id="aiface" x-mojo-element="ToggleButton"></div>
					</div>
				</div>
				
			</div>
			
		</div>
	</div>
	
	
	
	
	<div class="palm-group" id="secretPreferences">
		<div class="palm-group-title">Secret Stuff</div>
		<div class="palm-list">
			
			<div class="palm-row single">
				<div class="palm-row-wrapper">
					<div class="help-overlay" id="help-asdf"></div>
					<div class="label left">asdf</div>
					<div id="asdf" x-mojo-element="ToggleButton"></div>
				</div>
			</div>
			
		</div>
	</div>
	
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>