<div class="form prefs" id="container">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div class="help-toggle" id="help-toggle" x-mojo-tap-highlight="persistent"></div>
			<div id="pageSelector" class="page-selector">
				<div id="pageName" class="page-name">none</div>
			</div>
			<div class="icon" id="icon"></div>
			<div class="title">Preferences</div>
		</div>
	</div>
	

	<div class="palm-group">
		<div class="palm-group-title">Dashboard/Banner Notifications</div>
		<div class="palm-list">
			
			<div class="palm-row first">
				<div class="palm-row-wrapper">
					<div class="help-overlay" id="help-dashboardChannel"></div>
					<div class="label left">On Channel Mention</div>
					<div id="dashboardChannel" x-mojo-element="ToggleButton"></div>
				</div>
			</div>
			
			<div class="palm-row" id="dashboardChannelSoundRow">
				<div class="palm-row-wrapper">
					<div class="help-overlay" id="help-dashboardChannelSound"></div>
					<div class="label left">Mention Banner Sound</div>
					<div id="dashboardChannelSound" x-mojo-element="ToggleButton"></div>
				</div>
			</div>
			
			<div class="palm-row">
				<div class="palm-row-wrapper">
					<div class="help-overlay" id="help-dashboardQuerySound"></div>
					<div class="label left">Query Banner Sound</div>
					<div id="dashboardQuerySound" x-mojo-element="ToggleButton"></div>
				</div>
			</div>
			
			<div class="palm-row last" id="inviteContainer">
				<div class="palm-row-wrapper">
					<div class="help-overlay" id="help-inviteAction"></div>
					<div id="inviteAction" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
			<div class="palm-row last" id="dashboardInviteSoundRow">
				<div class="palm-row-wrapper">
					<div class="help-overlay" id="help-dashboardInviteSound"></div>
					<div class="label left">Invite Sound</div>
					<div id="dashboardInviteSound" x-mojo-element="ToggleButton"></div>
				</div>
			</div>
			
		</div>
	</div>
	
	
	<div class="palm-group">
		<div class="palm-group-title">Alert Words</div>
		<div class="help-overlay" id="help-alertList"></div>
		<div class="palm-list" id="alertList" x-mojo-element="List"></div>
	</div>
	
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>
