<div class="form prefs">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div id="pageSelector" class="page-selector">
				<div id="pageName" class="page-name">none</div>
			</div>
			<div class="icon"></div>
			<div class="title">Preferences</div>
		</div>
	</div>
	
	
	<div class="palm-group">
		<div class="palm-group-title">Input</div>
		<div class="palm-list">

			<div class="palm-row first">
				<div class="palm-row-wrapper">
					<div id="tabSuffix" x-mojo-element="ListSelector"></div>
				</div>
			</div>
				
			<div class="palm-row">
				<div class="palm-row-wrapper">
					<div class="label left">Auto Capitalization</div>
					<div id="autoCap" x-mojo-element="ToggleButton"></div>
				</div>
			</div>
			
			<div class="palm-row last">
				<div class="palm-row-wrapper">
					<div class="label left">Smart Text Engine</div>
					<div id="autoReplace" x-mojo-element="ToggleButton"></div>
				</div>
			</div>

		</div>
	</div>
	
	
	<div class="palm-group">
		<div class="palm-group-title">Messages</div>
		<div class="palm-list">
			
			<div class="palm-row first">
				<div class="palm-row-wrapper">
					<div id="messagesStyle" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
			<div class="palm-row" id="messageFixedSplit">
				<div class="palm-row-wrapper">
					<div id="messageSplit" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
			<div class="palm-row">
				<div class="palm-row-wrapper">
					<div class="label left">Font Size</div>
					<div class="title right sliderTitle" id="fontSizeTest">&nbsp;</div>
					<div id="fontSize" x-mojo-element="Slider" class="slider"></div>
				</div>
			</div>
			
			<div class="palm-row">
				<div class="palm-row-wrapper">
					<div class="label left">Sender Coloring</div>
					<div id="senderColoring" x-mojo-element="ToggleButton"></div>
				</div>
			</div>
				
			<div class="palm-row">
				<div class="palm-row-wrapper">
					<div id="timeStamp" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
			<div class="palm-row last">
				<div class="palm-row-wrapper">
					<div id="timeStampStyle" x-mojo-element="ListSelector"></div>
				</div>
			</div>			
			
		</div>
	</div>
	
	<div class="palm-group">
		<div class="palm-group-title">Mention Highlighting</div>
		<div class="palm-list">
			
			<div class="palm-row first">
				<div class="palm-row-wrapper">
					<div id="highlightStyle" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
			<div class="palm-row last">
				<div class="palm-row-wrapper">
					<div id="highlightPart" x-mojo-element="ListSelector"></div>
				</div>
			</div>
						
		</div>
	</div>

	<div class="palm-group">
		<div class="palm-group-title">Color Scheme</div>
		<div class="palm-list">
			
			<div class="palm-row first">
				<div class="palm-row-wrapper">
					<div id="colorNotice" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
			<div class="palm-row">
				<div class="palm-row-wrapper">
					<div id="colorAction" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
			<div class="palm-row">
				<div class="palm-row-wrapper">
					<div id="colorStatus" x-mojo-element="ListSelector"></div>
				</div>
			</div>			
			
			<div class="palm-row">
				<div class="palm-row-wrapper">
					<div id="colorText" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
			
			<div class="palm-row">
				<div class="palm-row-wrapper">
					<div id="colorOwnNick" x-mojo-element="ListSelector"></div>
				</div>
			</div>

			<div id="OtherNicksWrapper">
				
				<div class="palm-row">
					<div class="palm-row-wrapper">
						<div id="colorOtherNicks" x-mojo-element="ListSelector"></div>
					</div>
				</div>
				
			</div>
			
			<div id="highlightColorOptions">
			
				<div class="palm-row">
					<div class="palm-row-wrapper">
						<div id="colorHighlightFG" x-mojo-element="ListSelector"></div>
					</div>
				</div>
			
				<div class="palm-row">
					<div class="palm-row-wrapper">
						<div id="colorHighlightBG" x-mojo-element="ListSelector"></div>
					</div>
				</div>
				
			</div>
			
			<div class="palm-row">
				<div class="palm-row-wrapper">
					<div id="colorCTCP" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
			<div class="palm-row last">
				<div class="palm-row-wrapper">
					<div id="colorMarker" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="palm-group">
		<div class="palm-group-title">CTCP Replies</div>
		<div class="palm-list">
			
			<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">Version</div>
						<div id="ctcpReplyVersion" x-mojo-element="TextField"></div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
		
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>