<div class="server-list">
	
	<object type="application/x-palm-remote" id="wirc-plugin" x-palm-pass-event="true" height=0 width=0>
		<param name="appid" value="org.webosinternals.wirc">
		<param name="exe" value="wirc-plugin">
	</object>
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div class="icon"></div>
			<div class="title main">
				wIRC
				<span class="version" id="version">v0.0.0</span>
			</div>
			<div class="title sub" id="subTitle">The webOS IRC Client</div>
		</div>
	</div>
	
	<div id="noServers">
		<div class="icon"></div>
		<div class="message">You need to configure a server.<br />Tap the + at the bottom right.</div>
	</div>
	
	<div class="palm-list">
		<div id="serverList" x-mojo-element="List"></div>
	</div>
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>