<div class="palm-row" x-mojo-tap-highlight="momentary">
	<div class="palm-row-wrapper #{rowStyle}">
		<div class="button spinner"><div class="spinner" x-mojo-element="Spinner"></div></div><div class="button status" x-mojo-tap-highlight="momentary"><div class="icon"></div></div><div class="button prefs" x-mojo-tap-highlight="momentary"><div class="icon"></div></div><div class="button list" x-mojo-tap-highlight="momentary"><div class="icon"></div></div>
		<div class="title alias">#{-alias}</div>
		<div>
			<div class="#{networkLag}"></div>
			<div class="sub">#{-address}</div>
		</div>
		<div class="title address">#{-address}</div>
	</div>
</div>