<div class="channel-chat">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div class="palm-header left">
		<span id="title"></span>
	</div>
	
	<div class="palm-header-spacer"></div>
	
	<div id="list" x-mojo-element="List"></div>
	
	<div class="palm-row-wrapper textfield-group focused inputFooter">
		<div class="title">
			<div id="inputWidget" x-mojo-element="TextField"></div>
			<div id="sendButton" class="sendButton" x-mojo-tap-highlight="immediate"></div>
		</div>
	</div>
	
</div>
