<div class="channel-chat">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div class="palm-header left">
		<span id="title"></span>
	</div>
	
	<div class="palm-header-spacer" style="height: 50px;"></div>
	
	<div id="messageList" x-mojo-element="List"></div>
	
	<div id="inputFooter" class="inputFooter">
		<div class="palm-row-wrapper textfield-group focused">
			<div class="title">
				<div id="inputWidget" x-mojo-element="TextField"></div>
				<div id="sendButton" class="sendButton" x-mojo-tap-highlight="immediate"></div>
			</div>
		</div>
	</div>
	
</div>
