<div class="channel-users">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div id="listHeader" class="palm-header left">
		<div id="back" class="backPill"></div>
		<span id="title"></span>
		<div id="searchButton" class="searchPill"></div>
	</div>
	
	<div id="searchBack" class="searchBack"></div>
	<div id="searchSpinner" x-mojo-element="Spinner"></div>
	<div id="searchText" x-mojo-element="TextField"></div>
	
	<div class="palm-header-spacer" style="height: 50px;"></div>
	
	<div class="palm-list">
		<div id="userList" x-mojo-element="List"></div>
	</div>
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>
