/* Display all list selector popup items in their color if labeled a color */
[x-mojo-menu-cmd=aliceblue]{color:aliceblue !important;}
[x-mojo-menu-cmd=antiquewhite]{color:antiquewhite !important;}
[x-mojo-menu-cmd=aqua]{color:aqua !important;}
[x-mojo-menu-cmd=aquamarine]{color:aquamarine !important;}
[x-mojo-menu-cmd=azure]{color:azure !important;}
[x-mojo-menu-cmd=beige]{color:beige !important;}
[x-mojo-menu-cmd=bisque]{color:bisque !important;}
[x-mojo-menu-cmd=black]{color:black !important;}
[x-mojo-menu-cmd=blanchedalmond]{color:blanchedalmond !important;}
[x-mojo-menu-cmd=blue]{color:blue !important;}
[x-mojo-menu-cmd=blueviolet]{color:blueviolet !important;}
[x-mojo-menu-cmd=brown]{color:brown !important;}
[x-mojo-menu-cmd=burlywood]{color:burlywood !important;}
[x-mojo-menu-cmd=cadetblue]{color:cadetblue !important;}
[x-mojo-menu-cmd=chartreuse]{color:chartreuse !important;}
[x-mojo-menu-cmd=chocolate]{color:chocolate !important;}
[x-mojo-menu-cmd=coral]{color:coral !important;}
[x-mojo-menu-cmd=cornflowerblue]{color:cornflowerblue !important;}
[x-mojo-menu-cmd=cornsilk]{color:cornsilk !important;}
[x-mojo-menu-cmd=crimson]{color:crimson !important;}
[x-mojo-menu-cmd=cyan]{color:cyan !important;}
[x-mojo-menu-cmd=darkblue]{color:darkblue !important;}
[x-mojo-menu-cmd=darkcyan]{color:darkcyan !important;}
[x-mojo-menu-cmd=darkgoldenrod]{color:darkgoldenrod !important;}
[x-mojo-menu-cmd=darkgray]{color:darkgray !important;}
[x-mojo-menu-cmd=darkgreen]{color:darkgreen !important;}
[x-mojo-menu-cmd=darkkhaki]{color:darkkhaki !important;}
[x-mojo-menu-cmd=darkmagenta]{color:darkmagenta !important;}
[x-mojo-menu-cmd=darkolivegreen]{color:darkolivegreen !important;}
[x-mojo-menu-cmd=darkorange]{color:darkorange !important;}
[x-mojo-menu-cmd=darkorchid]{color:darkorchid !important;}
[x-mojo-menu-cmd=darkred]{color:darkred !important;}
[x-mojo-menu-cmd=darksalmon]{color:darksalmon !important;}
[x-mojo-menu-cmd=darkseagreen]{color:darkseagreen !important;}
[x-mojo-menu-cmd=darkslateblue]{color:darkslateblue !important;}
[x-mojo-menu-cmd=darkslategray]{color:darkslategray !important;}
[x-mojo-menu-cmd=darkturquoise]{color:darkturquoise !important;}
[x-mojo-menu-cmd=darkviolet]{color:darkviolet !important;}
[x-mojo-menu-cmd=deeppink]{color:deeppink !important;}
[x-mojo-menu-cmd=deepskyblue]{color:deepskyblue !important;}
[x-mojo-menu-cmd=dimgray]{color:dimgray !important;}
[x-mojo-menu-cmd=dodgerblue]{color:dodgerblue !important;}
[x-mojo-menu-cmd=firebrick]{color:firebrick !important;}
[x-mojo-menu-cmd=floralwhite]{color:floralwhite !important;}
[x-mojo-menu-cmd=forestgreen]{color:forestgreen !important;}
[x-mojo-menu-cmd=fuchsia]{color:fuchsia !important;}
[x-mojo-menu-cmd=gainsboro]{color:gainsboro !important;}
[x-mojo-menu-cmd=ghostwhite]{color:ghostwhite !important;}
[x-mojo-menu-cmd=gold]{color:gold !important;}
[x-mojo-menu-cmd=goldenrod]{color:goldenrod !important;}
[x-mojo-menu-cmd=gray]{color:gray !important;}
[x-mojo-menu-cmd=green]{color:green !important;}
[x-mojo-menu-cmd=greenyellow]{color:greenyellow !important;}
[x-mojo-menu-cmd=honeydew]{color:honeydew !important;}
[x-mojo-menu-cmd=hotpink]{color:hotpink !important;}
[x-mojo-menu-cmd=indianred]{color:indianred !important;}
[x-mojo-menu-cmd=indigo]{color:indigo !important;}
[x-mojo-menu-cmd=ivory]{color:ivory !important;}
[x-mojo-menu-cmd=khaki]{color:khaki !important;}
[x-mojo-menu-cmd=lavender]{color:lavender !important;}
[x-mojo-menu-cmd=lavenderblush]{color:lavenderblush !important;}
[x-mojo-menu-cmd=lawngreen]{color:lawngreen !important;}
[x-mojo-menu-cmd=lemonchiffon]{color:lemonchiffon !important;}
[x-mojo-menu-cmd=lightblue]{color:lightblue !important;}
[x-mojo-menu-cmd=lightcoral]{color:lightcoral !important;}
[x-mojo-menu-cmd=lightcyan]{color:lightcyan !important;}
[x-mojo-menu-cmd=lightgoldenrodyellow]{color:lightgoldenrodyellow !important;}
[x-mojo-menu-cmd=lightgreen]{color:lightgreen !important;}
[x-mojo-menu-cmd=lightpink]{color:lightpink !important;}
[x-mojo-menu-cmd=lightsalmon]{color:lightsalmon !important;}
[x-mojo-menu-cmd=lightseagreen]{color:lightseagreen !important;}
[x-mojo-menu-cmd=lightskyblue]{color:lightskyblue !important;}
[x-mojo-menu-cmd=lightslategray]{color:lightslategray !important;}
[x-mojo-menu-cmd=lightsteelblue]{color:lightsteelblue !important;}
[x-mojo-menu-cmd=lightyellow]{color:lightyellow !important;}
[x-mojo-menu-cmd=lime]{color:lime !important;}
[x-mojo-menu-cmd=limegreen]{color:limegreen !important;}
[x-mojo-menu-cmd=linen]{color:linen !important;}
[x-mojo-menu-cmd=magenta]{color:magenta !important;}
[x-mojo-menu-cmd=maroon]{color:maroon !important;}
[x-mojo-menu-cmd=mediumaquamarine]{color:mediumaquamarine !important;}
[x-mojo-menu-cmd=mediumblue]{color:mediumblue !important;}
[x-mojo-menu-cmd=mediumorchid]{color:mediumorchid !important;}
[x-mojo-menu-cmd=mediumpurple]{color:mediumpurple !important;}
[x-mojo-menu-cmd=mediumseagreen]{color:mediumseagreen !important;}
[x-mojo-menu-cmd=mediumslateblue]{color:mediumslateblue !important;}
[x-mojo-menu-cmd=mediumspringgreen]{color:mediumspringgreen !important;}
[x-mojo-menu-cmd=mediumturquoise]{color:mediumturquoise !important;}
[x-mojo-menu-cmd=mediumvioletred]{color:mediumvioletred !important;}
[x-mojo-menu-cmd=midnightblue]{color:midnightblue !important;}
[x-mojo-menu-cmd=mintcream]{color:mintcream !important;}
[x-mojo-menu-cmd=mistyrose]{color:mistyrose !important;}
[x-mojo-menu-cmd=moccasin]{color:moccasin !important;}
[x-mojo-menu-cmd=navajowhite]{color:navajowhite !important;}
[x-mojo-menu-cmd=navy]{color:navy !important;}
[x-mojo-menu-cmd=oldlace]{color:oldlace !important;}
[x-mojo-menu-cmd=olive]{color:olive !important;}
[x-mojo-menu-cmd=olivedrab]{color:olivedrab !important;}
[x-mojo-menu-cmd=orange]{color:orange !important;}
[x-mojo-menu-cmd=orangered]{color:orangered !important;}
[x-mojo-menu-cmd=orchid]{color:orchid !important;}
[x-mojo-menu-cmd=palegoldenrod]{color:palegoldenrod !important;}
[x-mojo-menu-cmd=palegreen]{color:palegreen !important;}
[x-mojo-menu-cmd=paleturquoise]{color:paleturquoise !important;}
[x-mojo-menu-cmd=palevioletred]{color:palevioletred !important;}
[x-mojo-menu-cmd=papayawhip]{color:papayawhip !important;}
[x-mojo-menu-cmd=peachpuff]{color:peachpuff !important;}
[x-mojo-menu-cmd=peru]{color:peru !important;}
[x-mojo-menu-cmd=pink]{color:pink !important;}
[x-mojo-menu-cmd=plum]{color:plum !important;}
[x-mojo-menu-cmd=powderblue]{color:powderblue !important;}
[x-mojo-menu-cmd=purple]{color:purple !important;}
[x-mojo-menu-cmd=red]{color:red !important;}
[x-mojo-menu-cmd=rosybrown]{color:rosybrown !important;}
[x-mojo-menu-cmd=royalblue]{color:royalblue !important;}
[x-mojo-menu-cmd=saddlebrown]{color:saddlebrown !important;}
[x-mojo-menu-cmd=salmon]{color:salmon !important;}
[x-mojo-menu-cmd=sandybrown]{color:sandybrown !important;}
[x-mojo-menu-cmd=seagreen]{color:seagreen !important;}
[x-mojo-menu-cmd=seashell]{color:seashell !important;}
[x-mojo-menu-cmd=sienna]{color:sienna !important;}
[x-mojo-menu-cmd=silver]{color:silver !important;}
[x-mojo-menu-cmd=skyblue]{color:skyblue !important;}
[x-mojo-menu-cmd=slateblue]{color:slateblue !important;}
[x-mojo-menu-cmd=slategray]{color:slategray !important;}
[x-mojo-menu-cmd=snow]{color:snow !important;}
[x-mojo-menu-cmd=springgreen]{color:springgreen !important;}
[x-mojo-menu-cmd=steelblue]{color:steelblue !important;}
[x-mojo-menu-cmd=tan]{color:tan !important;}
[x-mojo-menu-cmd=teal]{color:teal !important;}
[x-mojo-menu-cmd=thistle]{color:thistle !important;}
[x-mojo-menu-cmd=tomato]{color:tomato !important;}
[x-mojo-menu-cmd=turquoise]{color:turquoise !important;}
[x-mojo-menu-cmd=violet]{color:violet !important;}
[x-mojo-menu-cmd=wheat]{color:wheat !important;}
[x-mojo-menu-cmd=white]{color:white !important;}
[x-mojo-menu-cmd=whitesmoke]{color:whitesmoke !important;}
[x-mojo-menu-cmd=yellow]{color:yellow !important;}
[x-mojo-menu-cmd=yellowgreen]{color:yellowgreen !important;}

