body.flat
{
	background: #fff !important;
}

body.flat .palm-menu-icon.new				{ background-image: url(../images/flat-default/menu-icon-new.png);		}
body.flat .icon-filter-alpha
{
	background:url(../images/flat-default/icon_alpha.png) top center no-repeat;
}
body.flat .icon-filter-users
{
	background:url(../images/flat-default/icon_users.png) top center no-repeat;
}

body.flat .palm-activity-indicator-small
{
	background: url(../images/flat-default/activity-indicator-32x32.png) center top no-repeat;
}
body.flat .palm-activity-indicator-large
{
	background: url(../images/flat-default/activity-indicator-128x128.png) center top no-repeat;
}

body.flat #palm-app-menu.palm-popup-container,
body.flat #palm-device-menu.palm-popup-container
{
	-webkit-border-image: url(../images/flat-default/system-menu-background.png) 30 28 35 28 stretch stretch;
}
body.flat #palm-app-menu.palm-popup-container .palm-row,
body.flat #palm-device-menu.palm-popup-container .palm-row
{
	background: none;
}
body.flat #palm-app-menu.palm-popup-container .palm-row.selected,
body.flat #palm-device-menu.palm-popup-container .palm-row.selected
{
	background: #bbb;
	color: #000;
}
body.flat #palm-app-menu.palm-popup-container .palm-row.selected .title,
body.flat #palm-device-menu.palm-popup-container .palm-row.selected .title
{
	color: #000 !important;
}
body.flat #palm-app-menu .palm-row .label
{
	color: #000 !important;
	text-shadow: none;
	background: url(../images/flat-default/app-menu-icon-meta.png) left center no-repeat;
}

body.flat .palm-scrim
{
	background: rgba(255, 255, 255, 0.5);
}

body.flat .palm-list .palm-row.palm-section-divider,
body.flat #palm-app-menu .palm-row.submenu-group,
body.flat #palm-device-menu .palm-row.submenu-group,
body.flat #palm-app-menu .palm-drawer-container,
body.flat #palm-device-menu .palm-drawer-container
body.flat #palm-app-menu .palm-row,
body.flat #palm-device-menu .palm-row,
body.flat #palm-app-menu .palm-drawer-contents,
body.flat #palm-device-menu .palm-drawer-contents
{
	background: none;
}

body.flat .palm-drawer-container
{
	-webkit-border-image: url(../images/flat-default/drawer-background.png) 20 1 20 1 repeat repeat;
}

body.flat .palm-popup-container
{
	-webkit-border-image: url(../images/flat-default/popup-background.png) 24 24 24 24 stretch stretch;
}
body.flat .palm-popup-container .palm-row
{
	background: none;
}
body.flat #palm-app-menu.palm-popup-container .palm-row .title
{
	color: #000;
}
body.flat .palm-popup-container .palm-row.selected .title
{
	color: #000 !important;
}
body.flat .palm-popup-container .palm-row.selected
{
	background: #bbb;
}
body.flat .palm-popup-container table.palm-divider
{
	margin: 8px 0;
}
body.flat .palm-popup-content .popup-item-checkmark,
body.flat .palm-popup-content .chosen .popup-item-checkmark
{
	background: url(../images/flat-default/checkmark.png) center center no-repeat;
}
body.flat .palm-submenu-drawer-handle
{
 	background: url(../images/flat-default/system-menu-drawer-arrows.png) 0px 0px no-repeat;
}
body.flat .palm-submenu-group-opened .palm-submenu-drawer-handle
{
	background-position: 0px -24px;
}
body.flat .palm-row
{
	background: url(../images/flat-default/list-separator.png) bottom left repeat-x;
}
body.flat .palm-row.no-divider,
body.flat .palm-row.no-separator,
body.flat .palm-row.single,
body.flat .palm-row.last
{
	background: none;
}
body.flat .palm-row.selected
{
	border-width: 0px;
	-webkit-border-image: none;
	background: #e8e8e8;
}


body.flat .palm-row.selected .title
{
	color: #000 !important;
}

body.flat .palm-popup-fade-top,
body.flat .palm-popup-fade-bottom
{
	display: none;
}

body.flat .scene-fade-top
{
	background: url(../images/flat-default/fade-top.png) top center repeat-x;
}
body.flat .scene-fade-bottom
{
	background: url(../images/flat-default/fade-bottom.png) bottom center repeat-x;
}

body.flat div.startup .scene-fade-top
{
	border-top: 46px solid #fff;
	z-index: 9000;
}
body.flat div.startup div.palm-header
{
	z-index: 10000;
}
body.flat div.startup div.palm-header
{
	font-size: 20px;
}

body.flat .palm-header .network
{
	float: left;
	margin: 0px;
	margin-left: -12px;
	margin-top: 7px;
	margin-right: 6px;
	width: 33px;
	height: 33px;
	background: url(../images/flat-default/header-button.png) center center no-repeat;
}
body.flat .palm-header .network div.img
{
	margin-top: 7px;
	margin-left: 6px;
	width: 21px;
	height: 18px;
}

body.flat div.palm-header,
body.flat div.palm-page-header.multi-line
{
	-webkit-border-image: none;
	margin-top: -2px;
	padding: 2px 20px 0 20px;
	background: url(../images/flat-default/header.png) top left repeat;
}
body.flat div.palm-page-header.multi-line .title
{
	color: #fff;
}
body.flat div.palm-page-header.multi-line
{
	padding: 35px 20px 10px 24px;
}
body.flat .sliding-toggle
{
	-webkit-border-image: url(../images/flat-default/toggle-background.png) 9 29 9 29 repeat repeat;
}
body.flat .palm-group .palm-row.first .textfield-group.focused,
body.flat .palm-group .palm-row.last .textfield-group.focused,
body.flat .palm-group .palm-row.single .textfield-group.focused,
body.flat .textfield-group.focused
{
	-webkit-border-image: url(../images/flat-default/textfield-shadow.png) 15 15 15 15 stretch stretch;
}
body.flat .palm-list textarea
{
	margin: -15px -10px 10px 0px;
	padding: 2px 5px 0 3px;
	-webkit-border-image: url(../images/flat-default/textfield-shadow.png) 10 10 10 10 stretch stretch;
}
body.flat textarea
{
	margin: 0 -10px 25px 0px;
	padding: 4px 0 0 0;
	-webkit-border-image: url(../images/flat-default/textfield-shadow.png) 10 10 10 10 stretch stretch;
}
body.flat .multiline-text
{
	margin: 0 0 -2px 0;
}

body.flat .inputFooter textarea
{
	margin: 0 -8px 15px 2px;
	padding-left: 2px;
}
body.flat .inputFooter #inputWidget div.multiline-text
{
	margin-top: 2px;
	margin-bottom: 0px;
	margin-left: 1px;
}

body.flat .toggle-text
{
	color: #000;
}
body.flat .toggle-button.true
{
	background: url(../images/flat-default/toggle-on.png);
}
body.flat .toggle-button.false
{
	background: url(../images/flat-default/toggle-off.png);
}
body.flat .palm-list .palm-row .label
{
	color: #666;
}
body.flat div.palm-group
{                            
	-webkit-border-image: url(../images/flat-default/group.png) 40 18 18 18 repeat repeat;
}
body.flat .palm-group.unlabeled
{
	-webkit-border-image: url(../images/flat-default/group-unlabeled.png) 18 18 18 18 repeat repeat;
}

body.flat .palm-menu-button {
  -webkit-border-image: url(../images/flat-default/menu-button.png) 0 25 200 25 repeat repeat;
  color: #000;
}
body.flat .palm-menu-button.selected {
  -webkit-border-image: url(../images/flat-default/menu-button.png) 50 25 150 25 repeat repeat;
  color: #fff;
}
body.flat .palm-menu-text,
body.flat .palm-menu-label {
  -webkit-border-image: url(../images/flat-default/menu-button.png) 0 25 200 25 repeat repeat;
  color: #000;
}
body.flat .palm-menu-text.selected {
  -webkit-border-image: url(../images/flat-default/menu-button.png) 50 25 150 25 repeat repeat;
  color: #fff;
}
body.flat .palm-menu-group .palm-menu-button,
body.flat .palm-menu-group .palm-menu-label,
body.flat .palm-menu-group .palm-menu-text {
  -webkit-border-image: url(../images/flat-default/menu-segment-middle.png) 0 25 200 25 repeat repeat;
}
body.flat .palm-menu-group .palm-menu-button:first-child,
body.flat .palm-menu-group .palm-menu-label:first-child,
body.flat .palm-menu-group .palm-menu-text:first-child {
  -webkit-border-image: url(../images/flat-default/menu-segment-first.png) 0 25 200 25 repeat repeat;
}

body.flat .palm-menu-group .palm-menu-button:last-child,
body.flat .palm-menu-group .palm-menu-label:last-child,
body.flat .palm-menu-group .palm-menu-text:last-child {
  -webkit-border-image: url(../images/flat-default/menu-segment-last.png) 0 25 200 25 repeat repeat;
}
body.flat .palm-menu-group .palm-menu-button:only-child,
body.flat .palm-menu-group .palm-menu-label:only-child,
body.flat .palm-menu-group .palm-menu-text:only-child {
  -webkit-border-image: url(../images/flat-default/menu-button.png) 0 25 200 25 repeat repeat;
}
body.flat .palm-menu-group .palm-menu-button.selected,
body.flat .palm-menu-group .palm-menu-label.selected,
body.flat .palm-menu-group .palm-menu-text.selected {
  -webkit-border-image: url(../images/flat-default/menu-segment-middle.png) 50 25 150 25 repeat repeat;
  color: #fff;
}
body.flat .palm-menu-group .palm-menu-button.selected:first-child,
body.flat .palm-menu-group .palm-menu-label.selected:first-child,
body.flat .palm-menu-group .palm-menu-text.selected:first-child {
  -webkit-border-image: url(../images/flat-default/menu-segment-first.png) 50 25 150 25 repeat repeat;
}
body.flat .palm-menu-group .palm-menu-button.selected:last-child,
body.flat .palm-menu-group .palm-menu-label.selected:last-child,
body.flat .palm-menu-group .palm-menu-text.selected:last-child {
  -webkit-border-image: url(../images/flat-default/menu-segment-last.png) 50 25 150 25 repeat repeat;
}
body.flat .palm-menu-group .palm-menu-button.selected:only-child,
body.flat .palm-menu-group .palm-menu-label.selected:only-child,
body.flat .palm-menu-group .palm-menu-text.selected:only-child {
  -webkit-border-image: url(../images/flat-default/menu-button.png) 50 25 150 25 repeat repeat;
}
body.flat .palm-menu-group .palm-menu-text.palm-depressed,
body.flat .palm-menu-group .palm-menu-label.palm-depressed,
body.flat .palm-menu-group .palm-menu-button.palm-depressed {
  -webkit-border-image: url(../images/flat-default/menu-segment-middle.png) 100 25 100 25 repeat repeat;
}
body.flat .palm-menu-group .palm-menu-text.palm-depressed:first-child,
body.flat .palm-menu-group .palm-menu-label.palm-depressed:first-child,
body.flat .palm-menu-group .palm-menu-button.palm-depressed:first-child {
  -webkit-border-image: url(../images/flat-default/menu-segment-first.png) 100 25 100 25 repeat repeat;
}
body.flat .palm-menu-group .palm-menu-text.palm-depressed:last-child,
body.flat .palm-menu-group .palm-menu-label.palm-depressed:last-child,
body.flat .palm-menu-group .palm-menu-button.palm-depressed:last-child {
  -webkit-border-image: url(../images/flat-default/menu-segment-last.png) 100 25 100 25 repeat repeat;
}
body.flat .palm-menu-group .palm-menu-text.palm-depressed:only-child,
body.flat .palm-menu-group .palm-menu-label.palm-depressed:only-child,
body.flat .palm-menu-group .palm-menu-button.palm-depressed:only-child {
  -webkit-border-image: url(../images/flat-default/menu-button.png) 100 25 100 25 repeat repeat;
}
body.flat .palm-menu-group .palm-menu-text.selected.palm-depressed,
body.flat .palm-menu-group .palm-menu-label.selected.palm-depressed,
body.flat .palm-menu-group .palm-menu-button.selected.palm-depressed {
  -webkit-border-image: url(../images/flat-default/menu-segment-middle.png) 150 25 50 25 repeat repeat;
}
body.flat .palm-menu-group .palm-menu-text.selected.palm-depressed:first-child,
body.flat .palm-menu-group .palm-menu-label.selected.palm-depressed:first-child,
body.flat .palm-menu-group .palm-menu-button.selected.palm-depressed:first-child {
  -webkit-border-image: url(../images/flat-default/menu-segment-first.png) 150 25 50 25 repeat repeat;
}
body.flat .palm-menu-group .palm-menu-text.selected.palm-depressed:last-child,
body.flat .palm-menu-group .palm-menu-label.selected.palm-depressed:last-child,
body.flat .palm-menu-group .palm-menu-button.selected.palm-depressed:last-child {
  -webkit-border-image: url(../images/flat-default/menu-segment-last.png) 150 25 50 25 repeat repeat;
}
body.flat .palm-menu-group .palm-menu-text.selected.palm-depressed:only-child,
body.flat .palm-menu-group .palm-menu-label.selected.palm-depressed:only-child,
body.flat .palm-menu-group .palm-menu-button.selected.palm-depressed:only-child {
  -webkit-border-image: url(../images/flat-default/menu-button.png) 150 25 50 25 repeat repeat;
}
body.flat .palm-menu-button.palm-disabled,
body.flat .palm-menu-button.selected.palm-disabled,
body.flat .palm-menu-text.palm-disabled,
body.flat .palm-menu-text.selected.palm-disabled,
body.flat .palm-menu-label.palm-disabled,
body.flat .palm-menu-label.selected.palm-disabled {
  -webkit-border-image: url(../images/flat-default/menu-button.png) 200 25 0 25 repeat repeat;
  color: #000;
}
body.flat .palm-menu-group .palm-menu-text.palm-disabled,
body.flat .palm-menu-group .palm-menu-label.palm-disabled,
body.flat .palm-menu-group .palm-menu-button.palm-disabled {
  -webkit-border-image: url(../images/flat-default/menu-segment-middle.png) 200 25 0 25 repeat repeat;
}
body.flat .palm-menu-group .palm-menu-text.palm-disabled:first-child,
body.flat .palm-menu-group .palm-menu-label.palm-disabled:first-child,
body.flat .palm-menu-group .palm-menu-button.palm-disabled:first-child {
  -webkit-border-image: url(../images/flat-default/menu-segment-first.png) 200 25 0 25 repeat repeat;
}
body.flat .palm-menu-group .palm-menu-text.palm-disabled:last-child,
body.flat .palm-menu-group .palm-menu-label.palm-disabled:last-child,
body.flat .palm-menu-group .palm-menu-button.palm-disabled:last-child {
  -webkit-border-image: url(../images/flat-default/menu-segment-last.png) 200 25 0 25 repeat repeat;
}
body.flat .palm-menu-group .palm-menu-text.palm-disabled:only-child,
body.flat .palm-menu-group .palm-menu-label.palm-disabled:only-child,
body.flat .palm-menu-group .palm-menu-button.palm-disabled:only-child {
  -webkit-border-image: url(../images/flat-default/menu-button.png) 200 25 0 25 repeat repeat;
}


body.flat .palm-row .list-selector-triangle
{
	width: 32px;
	height: 32px;
	margin: -5px -5px -3px 8px;
	background: url(../images/flat-default/list-selector-triangle.png) top no-repeat;
}
body.flat .palm-row.selected .list-selector-triangle
{
	background: url(../images/flat-default/list-selector-triangle.png) bottom no-repeat;
}

body.flat .palm-button,
body.flat #palm-dialog-box .palm-button
{
	color: #555753;
	-webkit-border-image: url(../images/flat-default/button-medium.png) 0 17 104 17 repeat repeat;
}
body.flat .palm-button.selected.primary,
body.flat .palm-button.selected,
body.flat #palm-dialog-box .palm-button.selected.primary,
body.flat #palm-dialog-box .palm-button.selected
{
	color: #fff;
	-webkit-border-image: url(../images/flat-default/button-medium.png) 52 17 52 17 repeat repeat;
}
body.flat .palm-button.disabled.primary,
body.flat .palm-button.disabled,
body.flat #palm-dialog-box .palm-button.disabled.primary,
body.flat #palm-dialog-box .palm-button.disabled
{
	color: #555753;
	-webkit-border-image: url(../images/flat-default/button-medium.png) 104 17 0 17 repeat repeat;
}
body.flat .palm-button.affirmative,
body.flat #palm-dialog-box .palm-button.affirmative
{
	color: #73d216;
	-webkit-border-image: url(../images/flat-default/button-affirmative.png) 0 17 104 17 repeat repeat;
}
body.flat .palm-button.affirmative.selected,
body.flat #palm-dialog-box .palm-button.affirmative.selected
{
	color: #fff;
	-webkit-border-image: url(../images/flat-default/button-affirmative.png) 52 17 52 17 repeat repeat;
}
body.flat .palm-button.affirmative.disabled,
body.flat #palm-dialog-box .palm-button.affirmative.disabled
{
	color: #73d216;
	-webkit-border-image: url(../images/flat-default/button-affirmative.png) 104 17 0 17 repeat repeat;
}
body.flat .palm-button.negative,
body.flat #palm-dialog-box .palm-button.negative
{
	color: #ef2929;
	-webkit-border-image: url(../images/flat-default/button-negative.png) 0 17 104 17 repeat repeat;
}
body.flat .palm-button.negative.selected,
body.flat #palm-dialog-box .palm-button.negative.selected
{
	color: #fff;
	-webkit-border-image: url(../images/flat-default/button-negative.png) 52 17 52 17 repeat repeat;
}
body.flat .palm-button.negative.disabled,
body.flat #palm-dialog-box .palm-button.negative.disabled
{
	color: #ef2929;
	-webkit-border-image: url(../images/flat-default/button-negative.png) 104 17 0 17 repeat repeat;
}
body.flat .palm-button.secondary,
body.flat .palm-button.dismiss,
body.flat #palm-dialog-box .palm-button.secondary,
body.flat #palm-dialog-box .palm-button.dismiss
{
	color: #888a85;
	-webkit-border-image: url(../images/flat-default/button-light.png) 0 17 104 17 repeat repeat;
}
body.flat .palm-button.secondary.selected,
body.flat .palm-button.dismiss.selected,
body.flat #palm-dialog-box .palm-button.secondary.selected,
body.flat #palm-dialog-box .palm-button.dismiss.selected
{
	color: #fff;
	-webkit-border-image: url(../images/flat-default/button-light.png) 52 17 52 17 repeat repeat;
}
body.flat .palm-button.secondary.disabled,
body.flat .palm-button.dismiss.disabled,
body.flat #palm-dialog-box .palm-button.secondary.disabled,
body.flat #palm-dialog-box .palm-button.dismiss.disabled
{
	color: #888a85;
	-webkit-border-image: url(../images/flat-default/button-light.png) 104 17 0 17 repeat repeat;
}

body.flat .palm-slider-button
{
	background: url(../images/flat-default/slider-button-press.png);
	background: url(../images/flat-default/slider-button.png) center center no-repeat;
}
body.flat .palm-slider-button.selected
{
	background: url(../images/flat-default/slider-button-press.png) center center no-repeat;
}

body.flat .palm-slider-background
{
	-webkit-border-image: url(../images/flat-default/slider-background-3tile.png) 0 4 0 4 repeat repeat;
}

body.flat .palm-row.palm-swipe-delete
{
	border-width: 0px;
	-webkit-border-image: none;
	background: #d1d1d1;
}
body.flat .palm-group .palm-swipe-delete,
body.flat .palm-group .first .palm-swipe-delete,
body.flat .palm-group .last .palm-swipe-delete,
body.flat .palm-group .single .palm-swipe-delete
{
	border-width: 0px;
	-webkit-border-image: none;
}
body.flat .palm-row.palm-reorder-element
{  
	background: rgba(255, 255, 255, 0.8); 
	border-width: 0;
	-webkit-border-image: none;
}
body.flat .palm-row.palm-delete-element
{
	background: rgba(255, 255, 255, 0.8);
	border-width: 0;
	-webkit-border-image: none;
}
body.flat .palm-row.selected > .palm-row-wrapper,
body.flat .palm-row.palm-delete-element > .palm-row-wrapper,
body.flat .palm-row.palm-reorder-element > .palm-row-wrapper,
body.flat .palm-row.palm-swipe-delete > .palm-row-wrapper
{
	margin: 0px;
}
body.flat .palm-swipe-delete-button
{
	-webkit-border-image: url(../images/flat-default/swipe-delete-button-down.png) 0 14 0 14 repeat repeat;
	-webkit-border-image: url(../images/flat-default/swipe-delete-button-up.png) 0 14 0 14 repeat repeat;
	color: #ef2929;
}

body.flat .palm-swipe-delete-button.selected
{
	-webkit-border-image: url(../images/flat-default/swipe-delete-button-down.png) 0 14 0 14 repeat repeat;
	color: #fff;
}

body.flat .palm-swipe-undo-button
{
	-webkit-border-image: url(../images/flat-default/swipe-undo-button-down.png) 0 14 0 14 repeat repeat;
	-webkit-border-image: url(../images/flat-default/swipe-undo-button-up.png) 0 14 0 14 repeat repeat;
	color: #ccc;
}

body.flat .palm-swipe-undo-button.selected
{
	-webkit-border-image: url(../images/flat-default/swipe-undo-button-down.png) 0 14 0 14 repeat repeat;
	color: #fff;
}

body.flat .palm-dialog-box
{
	-webkit-border-image: url(../images/flat-default/dialog-background.png) 32 24 32 24 stretch stretch;
}
body.flat .palm-dialog-separator
{
	background: url(../images/flat-default/list-separator.png) bottom left repeat-x;
}

body.flat table.palm-divider,
body.flat table.palm-divider td
{
	height: 24px;
}
body.flat table.palm-divider td.label
{
	text-transform: none;
	font-weight: normal;
	color: #000;
	line-height: 24px;
	height: 24px;
}


body.flat table.date-row
{
	margin-bottom: 0px;
	margin-top: 0px;
}
body.flat table.date-row.palm-divider.labeled tr td.label
{
	background: #ccc;
}
body.flat table.date-row.palm-divider.labeled tr td.left
{
	width: 100%;
	background: #ccc;
}
body.flat table.date-row.palm-divider.labeled tr td.right
{
	width: 10px;
	background: #ccc;
}

body.flat table.palm-divider  td.label,
body.flat table.palm-divider  td.left,
body.flat table.palm-divider  td.right
{
	color: #fff;
	background: #999;
}


body.flat .palm-page-header .icon
{
	background: url(../images/flat-default/header-icon-prefs.png) center center no-repeat;
}
body.flat .server-list .palm-page-header-wrapper .icon
{
	background: url(../images/flat-default/icon.png) center center no-repeat !important;
}

body.flat .form .help-toggle
{
	background-image: url(../images/flat-default/help-toggle.png);
}



body.flat .form .palm-row .palm-row-wrapper .help-overlay,
body.flat .form .palm-row.first .palm-row-wrapper .help-overlay
{
	-webkit-border-image: url(../images/flat-default/helprow-1.png) 20 20 20 20 stretch stretch;
}
body.flat .form .palm-row.last .palm-row-wrapper .help-overlay,
body.flat .form .palm-row.single .palm-row-wrapper .help-overlay,
body.flat .form .palm-group > .help-overlay
{
	-webkit-border-image: url(../images/flat-default/helprow-2.png) 20 20 20 20 stretch stretch;
}


body.flat .file-picker #folderHolder .palm-row.check > .palm-row-wrapper > .check
{
	background: url(../images/flat-default/checkmark-green.png) center center no-repeat;
}

body.flat .folder-picker #list .palm-row.check > .palm-row-wrapper > .check
{
	background: url(../images/flat-default/checkmark-green.png) center center no-repeat;
}

body.flat .server-list .palm-list .palm-row-wrapper .button
{
	background-image: url(../images/flat-default/list-button-blank.png);
}

body.flat .inputFooter .sendButton
{
	background: url(../images/flat-default/send-airplane.png) top left no-repeat;
}
body.flat .inputFooter .sendButton.selected
{
	background: url(../images/flat-default/send-airplane-press.png) top left no-repeat;	
}

body.flat .server-status #popButton,
body.flat .channel-chat #userButton
{
	right: 10px;
	-webkit-border-image: url(../images/flat-default/header-button-press.png);
	-webkit-border-image: url(../images/flat-default/header-button.png) 0 16 0 16 stretch stretch;
}
body.flat .server-status #popButton.selected,
body.flat .channel-chat #userButton.selected
{
	-webkit-border-image: url(../images/flat-default/header-button-press.png) 0 16 0 16 stretch stretch;
}

body.flat .prefs .page-selector
{
	-webkit-border-image:url(../images/flat-default/header-selector.png) 0 22 0 16 stretch stretch;
	color: #000;
}

body.flat .menu-prefs-icon
{
	background: url(../images/flat-default/icon-prefs-menu.png) center center no-repeat;
}

body.flat .server-list .palm-page-header-wrapper .title .version
{
	color: rgba(255, 255, 255, 0.8);
}
body.flat .server-list .palm-list .palm-row-wrapper .button.list .icon
{
	background-image: url(../images/flat-default/icon-list.png);
}
body.flat .server-list .palm-list .palm-row-wrapper .button.selected.list .icon
{
	background-image: url(../images/flat-default/icon-list-pressed.png);
}
body.flat .server-list .palm-list .palm-row-wrapper .button.prefs .icon
{
	background-image: url(../images/flat-default/icon-prefs.png);
}
body.flat .server-list .palm-list .palm-row-wrapper .button.selected.prefs .icon
{
	background-image: url(../images/flat-default/icon-prefs-pressed.png);
}
body.flat .server-list .palm-list .palm-row-wrapper.connected .button.status  .icon
{
	background-image: url(../images/flat-default/icon-connected.png);
}
body.flat .server-list .palm-list .palm-row-wrapper.disconnected .button.status .icon
{
	background-image: url(../images/flat-default/icon-disconnected.png);
}
body.flat .server-list .palm-list .palm-row-wrapper.warning .button.status .icon
{
	background-image: url(../images/flat-default/icon-warning.png);
}
body.flat .server-list .palm-list .palm-row-wrapper.error .button.status .icon
{
	background-image: url(../images/flat-default/icon-error.png);
}
body.flat .server-list .palm-list .palm-row-wrapper.error2 .button.status .icon
{
	background-image: url(../images/flat-default/icon-error2.png);
}
body.flat .server-list .palm-list .palm-row-wrapper.unknown .button.status .icon
{
	background-image: url(../images/flat-default/icon-unknown.png);
}

body.flat .server-list #noServers .icon,
body.flat .server-list #noPlugin .icon
{
	margin-top: 92px;
	background: url(../images/flat-default/no-servers.png) center center no-repeat;
}

body.flat .channel-list #searchText,
body.flat .channel-users #searchText
{
	-webkit-border-image: url(../images/flat-default/search-box.png) 10 25 10 25 stretch stretch;
}

body.flat .channel-chat #topicContainer
{
	position: fixed;
	z-index: 10000;
	top: -5000px;
	left: 0px;
	width: 320px;
	background: rgba(255, 255, 255, 0.9) !important;
	border-bottom: 2px solid #000;
}
body.flat .channel-chat #userButton .icon
{
	background: url(../images/flat-default/user-icon.png) left center no-repeat;
}
body.flat .channel-chat #userButton.selected .icon
{
	background: url(../images/flat-default/user-icon-pressed.png) left center no-repeat;
}
body.flat .channel-chat #userButton .userCount
{
	color: #000;
}
body.flat .channel-chat #userButton.selected .userCount
{
	color: #fff;
}
body.flat .server-status #popButton .icon
{
	background: url(../images/flat-default/pop-icon.png) center center no-repeat;
}
body.flat .server-status #popButton.selected .icon
{
	background: url(../images/flat-default/pop-icon-pressed.png) center center no-repeat;
}

body.flat .dcc-list #dccList .palm-row-wrapper.send .bar div
{
	background-image: url(../images/flat-default/dcc-progress.png);
}

