/*
 * Small Devices, Pixi/Veer
 */


body.small-device .server-list #noServers .icon,
body.small-device .server-list #noPlugin .icon
{
	margin-top: 39px;
}
body.small-device.flat-default .server-list #noServers .icon,
body.small-device.flat-default .server-list #noPlugin .icon
{
	margin-top: 44px;
}

body.small-device .server-status #connectButton
{
	top: 150px;
}

body.small-device .channel-list #spinner
{
	margin-top: 70px;
}

