.palm-scrim
{
	background-repeat: no-repeat;
	background-size: 100%;
}

/*
 * Small Devices, Pixi/Veer
 */


body.small-device .server-list #noServers .icon,
body.small-device .server-list #noPlugin .icon
{
	margin-top: 39px;
}
body.small-device.flat-default .server-list #noServers .icon,
body.small-device.flat-default .server-list #noPlugin .icon
{
	margin-top: 44px;
}

body.small-device .server-status #connectButton
{
	top: 150px;
}

body.small-device .channel-list #spinner
{
	margin-top: 70px;
}


/*
 * Pre3
 */


body.pre3 .server-list #noServers .icon,
body.pre3 .server-list #noPlugin .icon
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 170px;
}

body.pre3 .server-status #connectButton
{
	top: 250px;
	left: 20%;
	right: 20%;
	width: 60%;
}

body.pre3 .channel-list #spinner
{
	margin-top: 190px;
}
body.pre3 .inputFooter
{
	width: 100%;
}
body.pre3 .channel-chat #topicContainer
{
	width: 100% !important;
}

body.pre3 .form .palm-row-wrapper .slider
{
	float: right;
	margin-right: 10px;
}
body.pre3 .form .font-fix
{
	display: block;
	clear: both;
}
body.pre3 .fixed.fixed-15 .message-row .nick { width: 15%; }
body.pre3 .fixed.fixed-20 .message-row .nick { width: 20%; }
body.pre3 .fixed.fixed-25 .message-row .nick { width: 25%; }
body.pre3 .fixed.fixed-30 .message-row .nick { width: 30%; }
body.pre3 .fixed.fixed-35 .message-row .nick { width: 35%; }
body.pre3 .fixed.fixed-40 .message-row .nick { width: 40%; }
body.pre3 .fixed.fixed-45 .message-row .nick { width: 45%; }
body.pre3 .fixed.fixed-50 .message-row .nick { width: 50%; }
body.pre3 .fixed.fixed-15 .message-row .message { width: 82%; }
body.pre3 .fixed.fixed-20 .message-row .message { width: 77%; }
body.pre3 .fixed.fixed-25 .message-row .message { width: 72%; }
body.pre3 .fixed.fixed-30 .message-row .message { width: 67%; }
body.pre3 .fixed.fixed-35 .message-row .message { width: 62%; }
body.pre3 .fixed.fixed-40 .message-row .message { width: 47%; }
body.pre3 .fixed.fixed-45 .message-row .message { width: 52%; }
body.pre3 .fixed.fixed-50 .message-row .message { width: 47%; }


/*
 * No gesture, TouchPad
 */
body.no-gesture .palm-page-header > .header-icon,
body.no-gesture .palm-page-header .icon
{
	background-image: url(../images/ui-revision-2/back-flat.png);
}
body.no-gesture.flat .palm-page-header .icon
{
	background-image: url(../images/ui-revision-2/back-flat-flat.png);
}

body.no-gesture .palm-divider.labeled .right
{
	background-image: url(../images/ui-revision-2/palm-divider-line.png);
}
body.no-gesture.palm-dark .palm-divider.labeled .right
{
	background-image: url(../images/ui-revision-2/palm-divider-line-dark.png);
}
body.no-gesture.flat .palm-divider.labeled .right
{
	background: #999;
}

body.no-gesture .palm-header .backPill
{
	position: absolute;
	top: 9px;
	left: -16px;
	height: 33px;
	width: 38px;
	background: url(../images/ui-revision-2/back-pill.png) center center no-repeat;
}
body.no-gesture.palm-dark .palm-header .backPill
{
	background-image: url(../images/ui-revision-2/back-pill-dark.png);
}
body.no-gesture.flat .palm-header .backPill
{
	position: relative;
	float: left;
	margin-right: 0;
	background-image: url(../images/ui-revision-2/back-flat-flat.png);
}

body.no-gesture #searchText
{
	padding-left: 33px;
}
body.no-gesture .channel-list #searchText
{
	padding-left: 1px;
}
body.no-gesture .searchBack
{
	display: none;
	position: absolute;
	top: 5px;
	left: 9px;
	width: 40px;
	height: 40px;
	z-index: 20001;
	background: url(../images/ui-revision-2/search-list.png) center center no-repeat;
}
body.no-gesture.flat .searchBack
{
	background-image: url(../images/ui-revision-2/back-flat-flat.png);
}
body.no-gesture .searchPill
{
	position: relative;
	float: right;
	height: 36px;
	width: 35px;
	margin-top: 7px;
	margin-right: -16px;
	background: url(../images/ui-revision-2/search-pill.png) center center no-repeat;
}
body.no-gesture.palm-dark .searchPill
{
	background-image: url(../images/ui-revision-2/search-pill-dark.png);
}
body.no-gesture.flat .searchPill
{
	margin-right: -8px;
	background-image: url(../images/ui-revision-2/search-pill-flat.png);
}


body.no-gesture .server-list #noServers .icon,
body.no-gesture .server-list #noPlugin .icon
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
}


body.no-gesture table.date-row.palm-divider.labeled tr td.left
{
	width: 100%;
	background: url(../images/ui-revision-2/date-stamp-line.png) right center no-repeat;
}

body.no-gesture .inputFooter
{
	width: 100%;
}
body.no-gesture .server-status .palm-header .backPill
{
	position: relative;
	float: left;
	margin-right: -4px;
}
body.no-gesture .server-status #connectButton
{
	left: 20%;
	right: 20%;
	width: 60%;
}
body.no-gesture .channel-chat #topicContainer
{
	width: 100% !important;
}
body.no-gesture .channel-users .palm-header
{
	padding-left: 30px;
}
body.no-gesture .form .palm-row-wrapper .slider
{
	float: right;
	margin-right: 10px;
}
body.no-gesture .form .font-fix
{
	display: block;
	clear: both;
}
body.no-gesture .prefs .page-name
{
	max-width: none;
}


body.no-gesture .fixed.fixed-15 .message-row .nick { width: 15%; }
body.no-gesture .fixed.fixed-20 .message-row .nick { width: 20%; }
body.no-gesture .fixed.fixed-25 .message-row .nick { width: 25%; }
body.no-gesture .fixed.fixed-30 .message-row .nick { width: 30%; }
body.no-gesture .fixed.fixed-35 .message-row .nick { width: 35%; }
body.no-gesture .fixed.fixed-40 .message-row .nick { width: 40%; }
body.no-gesture .fixed.fixed-45 .message-row .nick { width: 45%; }
body.no-gesture .fixed.fixed-50 .message-row .nick { width: 50%; }
body.no-gesture .fixed.fixed-15 .message-row .message { width: 83%; }
body.no-gesture .fixed.fixed-20 .message-row .message { width: 78%; }
body.no-gesture .fixed.fixed-25 .message-row .message { width: 73%; }
body.no-gesture .fixed.fixed-30 .message-row .message { width: 68%; }
body.no-gesture .fixed.fixed-35 .message-row .message { width: 63%; }
body.no-gesture .fixed.fixed-40 .message-row .message { width: 48%; }
body.no-gesture .fixed.fixed-45 .message-row .message { width: 53%; }
body.no-gesture .fixed.fixed-50 .message-row .message { width: 48%; }



body.no-gesture .file-picker #folderHolder .folder
{
	width: 1025px;
}
body.no-gesture .file-picker .folder .palm-page-header
{
	width: 1024px;
}
body.no-gesture .file-picker #folderHolder .folder .palm-list
{
	width: 1024px;
}