/*
 * Global Styles
 */
.scene-fade-top
{
	position: fixed;
	top: 0px;
	z-index: 11000;
	height: 30px;
	width: 100%;
	background: url(../images/palm-default/fade-top.png) top center repeat-x;
	-webkit-palm-mouse-target: ignore;
}
.scene-fade-bottom
{
	position: fixed; 
	bottom: 0px; 
	z-index: 11000;
	height: 30px; 
	width: 100%;
	background: url(../images/palm-default/fade-bottom.png) bottom center repeat-x;
	-webkit-palm-mouse-target: ignore;
}

body.palm-dark .scene-fade-top
{
	background: url(../images/palm-dark/fade-top.png) top center repeat-x;
}
body.palm-dark .scene-fade-bottom
{
	background: url(../images/palm-dark/fade-bottom.png) bottom center repeat-x;
}
br.clear
{
	clear: both;
	height: 0px;
}

#palm-app-menu.palm-popup-container
{
	text-transform: none !important;
}

.list-item-add-button
{
  height: 54px;
}
body.palm-dark .list-item-add-button
{
  background: url(../images/palm-dark/list-icon-add-item.png) center center no-repeat;
}
.add-item .title
{
  color: #555552;
}
body.palm-dark .add-item .title
{
  color: #777;
}

/*
 * Preferences Scene Styles
 */
.prefs .palm-row .label
{
	max-width: 300px;
}
.prefs .page-selector 
{
	display: inline-block;
	position: relative;
	float: right;
	/*margin: 8px -16px 0px 0px;*/
	font-size: 14px;
	text-transform: uppercase;
	height: 35px;
	line-height: 33px;
	border-width: 0px 22px 0px 16px;
	-webkit-border-image:url(../images/palm-default/header-selector.png) 0 22 0 16 stretch stretch;
	-webkit-box-sizing: border-box;
	
	margin: 9px 48px 0px 0px;
	color: #555;
}
.prefs.no-help .page-selector 
{
	margin-right: 9px;
}
body.palm-dark .prefs .page-selector
{
	-webkit-border-image:url(../images/palm-dark/header-selector.png) 0 22 0 16 stretch stretch;
	color: #c0c0c0;
}
.prefs .page-name
{
	margin-left: -5px;
	padding-right: 2px;
	background: transparent;
	display: inline-block;
	min-width: 12px;
	max-width: 63px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	-webkit-palm-mouse-target: ignore;
}
.prefs #dccDefaultFolderDisplay
{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.prefs .palm-group .palm-group-title .right
{
	float: right;
	margin-right: 12px;
}
.prefs .palm-group .palm-row-wrapper.alias .title
{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.prefs .palm-group .palm-row .palm-row-wrapper.alias .title.alias
{
	float: left;
	color: #1f75bf;
	max-width: 273px;
	margin-bottom: -20px;
}
.prefs .palm-group .palm-row.selected .palm-row-wrapper.alias .title.alias
{
	color: #fff;
}
body.palm-dark .prefs .palm-group .palm-row .palm-row-wrapper.alias .title.alias
{
	color: #aaa;
	text-shadow: #222 0px -1px 0px;
}
.prefs .palm-group .palm-row .palm-row-wrapper.alias .title.command
{
	float: right;
	max-width: 273px;
}


/*
 * Startup Scene Styles
 */
.startup #data .palm-divider.labeled .label
{
	text-transform: lowercase;
}
.startup #data
{
	font-size: 18px;
}
.startup #data .text
{
	padding-top: 4px;
	padding-left: 17px;
	padding-right: 15px;
	padding-bottom: 10px;
}
.startup #data ul
{
	margin: 0px;
	padding-left: 37px;
	padding-right: 15px;
	padding-bottom: 10px;
}
.startup #data ul.changelog
{
	font-size: 15px;
}



/*
 * Server List Scene Styles
 */
.server-list .palm-page-header-wrapper .icon
{
	width: 76px;
	height: 75px;
	background: url(../icon.png) center center no-repeat !important;
}
.server-list .palm-page-header-wrapper .title
{
	padding-left: 80px;
	text-transform: none;
}
.server-list .palm-page-header-wrapper .title.main
{
	font-size: 30px;
	padding-top: 5px;
	padding-bottom: 0px;
}
.server-list .palm-page-header-wrapper .title .version
{
	font-size: 12px;
	color: #888;
}
.server-list .palm-page-header-wrapper .title.sub
{
	font-size: 14px;
	padding-top: 0px;
	margin-top: 0px;
}

.server-list #noServers .icon
{
	width: 320px;
	height: 128px;
	margin-top: 88px;
	background: url(../images/palm-default/no-servers.png) center center no-repeat;
}
.server-list #noServers .message
{
	color: #999;
	margin-top: 30px;
	font-size: 16px;
	text-align: center;
}

.server-list #noPlugin .icon
{
	width: 320px;
	height: 128px;
	margin-top: 88px;
	background: url(../images/palm-default/no-servers.png) center center no-repeat;
}
.server-list #noPlugin .message
{
	color: #999;
	margin-top: 30px;
	font-size: 16px;
	text-align: center;
}

.server-list .palm-list .palm-row-wrapper
{
	padding-right: 4px;
}
.server-list .palm-list .palm-row-wrapper .title.alias
{
	padding-top: 5px;
	margin-top: 0px;
}
.server-list .palm-list .palm-row-wrapper .sub
{
	top: -19px;
	color: #999;
	font-size: 14px;
	padding-top: 0px;
	margin-top: -14px;
	padding-left: 16px;
	padding-bottom: 8px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.server-list .palm-list .palm-row-wrapper .title.address
{
	display: none;
}
.server-list .palm-list .palm-row-wrapper.address-title .sub,
.server-list .palm-list .palm-row-wrapper.address-title .title.alias
{
	display: none;
}
.server-list .palm-list .palm-row-wrapper .network
{
	margin-right: -7px;
}
.server-list .palm-list .palm-row-wrapper.address-title .network
{
	margin-top: 18px;
	margin-right: 9px;
}
.server-list .palm-list .palm-row-wrapper.address-title .title.address
{
	display: block;
}

.server-list .palm-list .palm-row-wrapper .button
{
	background-image: url(../images/palm-default/list-button-blank.png);
	float: right;
	width: 48px;
	height: 49px;
	margin: 0px;
	padding: 0px;
	background-position: top center;
	background-repeat: no-repeat;
}
body.palm-dark .server-list .palm-list .palm-row-wrapper .button
{
	background-image: url(../images/palm-dark/list-button-blank.png);
}

.server-list .palm-list .palm-row-wrapper .button .icon
{
	width: 48px;
	height: 49px;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-palm-mouse-target: ignore;
}
.menu-prefs-icon
{
	margin-top: 2px;
	width: 28px;
	background: url(../images/palm-default/icon-prefs.png) center center no-repeat;
}
.server-list .palm-list .palm-row-wrapper .button.list .icon
{
	background-image: url(../images/palm-default/icon-list.png);
}
.server-list .palm-list .palm-row-wrapper .button.prefs .icon
{
	background-image: url(../images/palm-default/icon-prefs.png);
}
.server-list .palm-list .palm-row-wrapper.connected .button.status  .icon
{
	background-image: url(../images/palm-default/icon-connected.png);
}
.server-list .palm-list .palm-row-wrapper.disconnected .button.status .icon
{
	background-image: url(../images/palm-default/icon-disconnected.png);
}
.server-list .palm-list .palm-row-wrapper.warning .button.status .icon
{
	background-image: url(../images/palm-default/icon-warning.png);
}
.server-list .palm-list .palm-row-wrapper.error .button.status .icon
{
	background-image: url(../images/palm-default/icon-error.png);
}
.server-list .palm-list .palm-row-wrapper.error2 .button.status .icon
{
	background-image: url(../images/palm-default/icon-error2.png);
}
.server-list .palm-list .palm-row-wrapper.unknown .button.status .icon
{
	background-image: url(../images/palm-default/icon-unknown.png);
}
.server-list .palm-list .palm-row-wrapper .button.list
{
	display: none;
}
.server-list .palm-list .palm-row-wrapper.connected .button.list
{
	display: inline;
}
.server-list .palm-list .palm-row-wrapper.connected .button.prefs
{
	display: none;
}
.server-list .palm-list .palm-row-wrapper .button.spinner
{
	display: none;
}
.server-list .palm-list .palm-row-wrapper .button.spinner .spinner
{
	margin-top: 9px;
	margin-left: 8px;
}
.server-list .palm-list .palm-row-wrapper .button.prefs.selected,
.server-list .palm-list .palm-row-wrapper .button.list.selected,
.server-list .palm-list .palm-row-wrapper.connected .button.status.selected,
.server-list .palm-list .palm-row-wrapper.disconnected .button.status.selected
{
	background-position: bottom center;
}
.server-list .palm-list .palm-row-wrapper.changing .button.status
{
	display: none;
}
.server-list .palm-list .palm-row-wrapper.changing .button.spinner
{
	display: inline;
}
.server-list .palm-list .palm-row-wrapper.temp .button.list,
.server-list .palm-list .palm-row-wrapper.temp .button.prefs
{
	display: none;
}


/*
 * Preconfigured Network Scene Styles
 */
.preconfigured .palm-list .palm-row-wrapper.custom .title
{
	font-weight: bold;
}
.preconfigured .palm-list .palm-row-wrapper .sub
{
	color: #999;
	font-size: 14px;
	padding-top: 0px;
	margin-top: -16px;
	padding-left: 16px;
	padding-bottom: 8px;
}
.preconfigured .palm-list .palm-row-wrapper.subregion-title .title.name
{
	padding-top: 5px;
	margin-top: 0px;
}
.preconfigured .palm-list .palm-row-wrapper.address-title .sub
{
	display: none;
}


/*
 * Form Styles - Scene Inspecific
 */
.form .palm-row-wrapper .label.left
{
	padding-left: 6px;
	-webkit-palm-mouse-target: ignore;
}
.form .palm-row-wrapper .sliderTitle
{
	padding-right: 22px;
	line-height: 26px;
	height: 26px;
	vertical-align: middle;
}
.form .palm-row-wrapper .slider
{
	margin-top: -6px;
	padding-bottom: 18px;
}
.form .palm-list-selector .label
{
	float: left;
}
.form .palm-list-selector .title
{
	text-align: right;
}
.form .noflip .palm-list-selector .label
{
	float: right;
}
.form .noflip .palm-list-selector .title
{
	text-align: left;
}
.form .textfield-group .hint-text
{
	color: #666;
}
body.palm-dark .form .textfield-group .hint-text
{
	color: #ccc;
}
.form .palm-group.disabled
{
	opacity: 0.35;
}
.form .font-fix
{
	display: none;
}
.form .palm-row .palm-row-wrapper
{
	position: relative;
}
.form .palm-row .palm-row-wrapper:not(.textfield-group)
{
	min-height: 53px;
}
.form .palm-row .palm-row-wrapper.textfield-group
{
	min-height: 23px;
}
.form .palm-row .palm-row-wrapper.textfield-group .help-overlay
{
	top: -13px;
	left: -13px;
	bottom: -11px;
	right: -13px;
}
.form .palm-row .palm-row-wrapper .help-overlay
{
	display: none;
	position: absolute;
	z-index: 10000;
	width: auto;
	height: auto;
	border: 20px;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 4px;
	-webkit-border-image: url(../images/palm-default/helprow.png) 20 20 20 20 stretch stretch;
}
.form .palm-row.first .palm-row-wrapper .help-overlay
{
	-webkit-border-image: url(../images/palm-default/helprow-first.png) 20 20 20 20 stretch stretch;
}
.form .palm-row.last .palm-row-wrapper .help-overlay
{
	-webkit-border-image: url(../images/palm-default/helprow-last.png) 20 20 20 20 stretch stretch;
	bottom: 2px;
}
.form .palm-row.single .palm-row-wrapper .help-overlay
{
	-webkit-border-image: url(../images/palm-default/helprow-single.png) 20 20 20 20 stretch stretch;
	bottom: 3px;
}
.form .palm-row.last .palm-row-wrapper.textfield-group .help-overlay,
.form .palm-row.single .palm-row-wrapper.textfield-group .help-overlay
{
	bottom: -13px;
}
.form .palm-group
{
	position: relative;
}
.form .palm-group > .help-overlay
{
	display: none;
	position: absolute;
	z-index: 10000;
	width: auto;
	height: auto;
	border: 20px;
	top: -12px;
	left: -14px;
	bottom: -13px;
	right: -13px;
	-webkit-border-image: url(../images/palm-default/helprow-single.png) 20 20 20 20 stretch stretch;
}
.form.help .palm-row .palm-row-wrapper .help-overlay,
.form.help .palm-group > .help-overlay
{
	display: block;
}

.form .help-toggle
{
	position: absolute;
	right: 11px;
	top: 11px;
	width: 32px;
	height: 32px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-image: url(../images/palm-default/help-toggle.png);
}
.form .help-toggle.selected
{
	background-position: 0px -32px;
}


/*
 * Server Status Scene Styles
 */
.server-status .palm-header #title
{
	float: left;
	display: block;
	width: 225px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.server-status #popButton
{
	position: absolute;
	right: -16px;
	bottom: 7px;
	height: 35px;
	width: 38px;
	border-width: 0px 16px 0px 16px;
	-webkit-box-sizing: border-box;
	-webkit-border-image: url(../images/palm-default/header-button-press.png);
	-webkit-border-image: url(../images/palm-default/header-button.png) 0 16 0 16 stretch stretch;
}
.server-status #popButton.selected
{
	-webkit-border-image: url(../images/palm-default/header-button-press.png) 0 16 0 16 stretch stretch;
}
.server-status #popButton .icon
{
	margin: 0px;
	padding: 0px;
	margin-top: 5px;
	margin-left: -8px;
	width: 21px;
	height: 23px;
	background: url(../images/palm-default/pop-icon.png) center center no-repeat;
}
.server-status #connectButton
{
	position: fixed;
	top: 180px;
	left: 10px;
	width: 300px;
}
.server-status #messageList
{
	height: 100%;
	margin-bottom: 6px;
}



/*
 * Channel List Scene Styles
 */
.channel-list .palm-header .title
{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.channel-list #searchText
{
	display: none;
	z-index: 20000;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
	color: #fff;
	padding-top: 2px;
	padding-left: 1px;
	border-width: 10px 25px 10px 25px;
	-webkit-border-image: url(../images/palm-default/search-box.png) 10 25 10 25 stretch stretch;
	-webkit-box-sizing: border-box;
}
body.palm-dark .channel-list #searchText
{
	-webkit-border-image: url(../images/palm-dark/search-box.png) 10 25 10 25 stretch stretch;
}
.channel-list #searchText input
{
	color: #fff;
	background: none;
	margin-top: 0px;
	margin-left: -1px;
	border: 0px;
	padding: 0px;
}
.channel-list #searchSpinner
{
	position: fixed;
	top: 8px;
	right: 10px;
	z-index: 20001;
	float: right;
}
.channel-list #spinner
{
	margin-top: 90px;
	margin-left: auto;
	margin-right: auto;
}
.channel-list #spinner #spinnerStatus
{
	text-align: center;
	padding-top: 125px;
	width: 320px;
	margin-left: -95px;
	color: #666;
	font-size: 16px;
}
body.palm-dark .channel-list #spinner #spinnerStatus
{
	color: #999;
}
.channel-list .palm-list .palm-row-wrapper
{
	padding-right: 8px;
}
.channel-list .palm-list .palm-row-wrapper .title
{
	padding-top: 5px;
	margin-top: 0px;
}
.channel-list .palm-list .palm-row-wrapper .sub
{
	color: #999;
	font-size: 14px;
	padding-top: 0px;
	margin-top: -16px;
	padding-left: 16px;
	padding-bottom: 8px;
	
	word-wrap: break-word !important;
	
	/*max-height: 23px;*/
	line-height: 14px;
	
	/*overflow: hidden;
	text-overflow: ellipsis;*/
	/*white-space: nowrap;*/
}
.channel-list .palm-list .palm-row-wrapper .title .highlight
{
	font-weight: bold;
	text-decoration: underline;
}
.channel-list .palm-list .palm-row-wrapper .sub .highlight
{
	color: #666;
	font-weight: bold;
	text-decoration: underline;
}
body.palm-dark .channel-list .palm-list .palm-row-wrapper .sub .highlight
{
	color: #CCC;
}
.icon-filter-alpha
{
	background:url(../images/palm-default/icon_alpha.png) top center no-repeat;
}
.icon-filter-users
{
	background:url(../images/palm-default/icon_users.png) top center no-repeat;
}


/*
 * Channel Chat Scene Styles
 */
.channel-chat .palm-header #title
{
	float: left;
	display: block;
	width: 210px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.channel-chat #topicContainer
{
	position: fixed;
	z-index: 10000;
	top: -5000px;
	left: 0px;
	width: 320px;
}
.channel-chat #topicContainer .topic
{
	padding-top: 53px;
	padding-left: 15px;
	padding-right: 10px;
	margin-bottom: -27px;
	font-size: 12px;
}
.channel-chat #userButton
{
	position: absolute;
	right: -16px;
	bottom: 7px;
	height: 35px;
	border-width: 0px 16px 0px 16px;
	-webkit-box-sizing: border-box;
	-webkit-border-image: url(../images/palm-default/header-button-press.png);
	-webkit-border-image: url(../images/palm-default/header-button.png) 0 16 0 16 stretch stretch;
}
.channel-chat #userButton.selected
{
	-webkit-border-image: url(../images/palm-default/header-button-press.png) 0 16 0 16 stretch stretch;
}
.channel-chat #userButton .icon
{
	position: relative;
	display: inline-block;
	float: left;
	margin-top: 5px;
	margin-left: -5px;
	width: 21px;
	height: 23px;
	background: url(../images/palm-default/user-icon.png) left center no-repeat;
}
.channel-chat #userButton .userCount
{
	position: relative;
	float: left;
	margin-top: -10px;
	margin-left: -4px;
	margin-right: -8px;
	font-size: 8pt;
}
.channel-chat #messageList
{
	height: 100%;
	margin-bottom: 6px;
}



/*
 * Channel Users Scene Styles
 */
.channel-users .palm-header .title
{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.channel-users #searchText
{
	display: none;
	z-index: 20000;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
	color: #fff;
	padding-top: 2px;
	padding-left: 1px;
	border-width: 10px 25px 10px 25px;
	-webkit-border-image: url(../images/palm-default/search-box.png) 10 25 10 25 stretch stretch;
	-webkit-box-sizing: border-box;
}
body.palm-dark .channel-users #searchText
{
	-webkit-border-image: url(../images/palm-dark/search-box.png) 10 25 10 25 stretch stretch;
}
.channel-users #searchText input
{
	color: #fff;
	background: none;
	margin-top: 0px;
	margin-left: -1px;
	border: 0px;
	padding: 0px;
}
.channel-users #searchSpinner
{
	position: fixed;
	top: 8px;
	right: 10px;
	z-index: 20001;
	float: right;
}
.channel-users #userList .palm-row-wrapper .title .mode
{
	float: left;
	width: 20px;
	color: #BBB;
}
.channel-users #userList .palm-row-wrapper .title .highlight
{
	font-weight: bold;
	text-decoration: underline;
}



/*
 * Query Scene Styles
 */
.query-chat .palm-header #title
{
	float: left;
	display: block;
	width: 240px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}


/*
 * DCC List Scene Styles
 */
.dcc-list .palm-header
{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.dcc-list #dccList .palm-row-wrapper
{
	position: relative;
	height: 60px;
}
.dcc-list #dccList .palm-row-wrapper .icon
{
	float: left;
	width: 48px;
	height: 48px;
	-webkit-background-size: 44px 44px;
	margin-top: 5px;
	margin-right: 8px;
	margin-left: 4px;
}
.dcc-list #dccList .palm-row-wrapper.send .icon
{
	background: url(../icon-dcc-send.png) center center no-repeat;
}
.dcc-list #dccList .palm-row-wrapper.chat .icon
{
	background: url(../icon-dcc-chat.png) center center no-repeat;
}

.dcc-list #dccList .palm-row-wrapper.send .progress
{
	z-index: -10;
	position: absolute;
	top: -1px;
	left: 0px;
	bottom: 1px;
	right: 0px;
}
.dcc-list #dccList .palm-row-wrapper.send .bar
{
	position: absolute;
	height: 100%;
	overflow: visible;
}

.dcc-list #dccList .palm-row-wrapper.send .bar div
{
	position: absolute;
	width: 340px;
	height: 100%;
	right: -20px;
	background-image: url(../images/palm-default/dcc-progress.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}


/*
.dcc-list #dccList .palm-row-wrapper.send .title
{
	padding-top: 0px;
	margin-top: -4px;
	font-size: 16px;
}
.dcc-list #dccList .palm-row-wrapper.send .sub
{
	color: 'lightgray';
	font-size: 12px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: center;
	-webkit-border-radius: 8px; 
	border: 1px inset;
	width: 220px;
	height: 16px;
	margin-top: -12px;
}
.dcc-list #dccList .palm-row-wrapper.send .sub .progress
{
	z-index: -1;
	position: absolute;
	margin-top: -16px;
	width: 220px;
	height: 16px;
}
.dcc-list #dccList .palm-row-wrapper.send .sub .progress .bar
{
	background: url(../images/send-progress.png) top left repeat-x;
	height: 100%;
}
.dcc-list #dccList .palm-row-wrapper.chat .progress,
.dcc-list #dccList .palm-row-wrapper.chat .file
{
	display: none;
}
.dcc-list #dccList .palm-row-wrapper .title
{
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 0px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
*/




/*
 * Whois Scene Styles
 */
.whois .palm-header
{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.whois #whoisData .palm-row-wrapper .title .mode
{
	float: left;
	width: 20px;
	color: #BBB;
}



/*
 * Generic Dashboard Scene Styles
 */
.channel-dashboard .palm-dashboard-icon
{
	background: url(../icon-channel.png) center center no-repeat;
}
.query-dashboard .palm-dashboard-icon
{
	background: url(../icon-query.png) center center no-repeat;
}
.invite-dashboard .palm-dashboard-icon
{
	background: url(../icon-invite.png) center center no-repeat;
}
.dcc-chat-dashboard .palm-dashboard-icon
{
	background: url(../icon-dcc-chat.png) center center no-repeat;
}
.dcc-send-dashboard .palm-dashboard-icon
{
	background: url(../icon-dcc-send.png) center center no-repeat;
}



/*
 * DCC Chat Styles
 */
.dcc-chat .palm-header
{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.dcc-chat #chatStats
{
	position: absolute;
	right: 5px;
	font-size: 8pt;
}
.dcc-chat #chatStats .bitsIn
{
	position: relative;
	float: left;
	margin-top: -6px;
	margin-left: -4px;
	margin-right: -8px;
}
.dcc-chat #chatStats .bitsOut
{
	position: relative;
	float: left;
	margin-top: 6px;
	margin-left: -4px;
	margin-right: -8px;
}



/*
 * Input Styles - Scene Inspecific
 */
.inputFooter
{
	position: fixed;
	bottom: 0px;
	z-index: 11000;
	width: 320px;
}
.inputFooter #inputWidget
{
	overflow: hidden;
	max-height: 200px;
	padding-right: 40px;
}
.inputFooter #inputWidget div.multiline-text
{
	margin-top: -1px;
	margin-bottom: -2px;
}
body.palm-dark .inputFooter #inputWidget *
{
	color: #fff;
}
.inputFooter .sendButton {
	position: absolute;
	width: 48px;
	height: 48px;
	padding: 0px;
	margin: 0px;
	right: 2px;
	bottom: 2px;
	background: url(../images/palm-default/send-airplane-press.png) top left no-repeat;	
	background: url(../images/palm-default/send-airplane.png) top left no-repeat;
}
body.palm-dark .inputFooter .sendButton {
	background: url(../images/palm-dark/send-airplane.png) top left no-repeat;
}
.inputFooter .sendButton.selected {
	background: url(../images/palm-default/send-airplane-press.png) top left no-repeat;	
}
body.palm-dark .inputFooter .sendButton.selected {
	background: url(../images/palm-default/send-airplane-press.png) top left no-repeat;	
}



/*
 * Message Styles - Scene Inspecific
 */
.monospace .message-row
{
	font-family: monospace;
}
.lefta .message-row
{
	min-height: 8px;
	clear: both;
	padding: 1px 5px 2px 8px;
}
.lefta .message-row .nick
{
	display: inline;
}
.lefta .message-row .message
{
	color: #222;
	word-wrap: break-word !important;
	display: inline;
}
.fixed .message-row
{
	min-height: 8px;
	clear: both;
	padding: 1px 0px 2px 0px;
}
.fixed .message-row .nick
{
	display: block;
	float: left;
	padding-left: 2px;
	padding-right: 3px; 
	text-align: right;
	width: 95px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.fixed .message-row .message
{
	color: #222;
	word-wrap: break-word !important;
	display: block;
	float: left;
	padding-left: 3px;
	padding-right: 5px;
	width: 212px;
}
body.palm-dark .message-row .message
{
	color: #e4e4e4;
}

.fixed.fixed-15 .message-row .nick { width:  46px; }
.fixed.fixed-20 .message-row .nick { width:  61px; }
.fixed.fixed-25 .message-row .nick { width:  76px; }
.fixed.fixed-30 .message-row .nick { width:  92px; }
.fixed.fixed-35 .message-row .nick { width: 107px; }
.fixed.fixed-40 .message-row .nick { width: 122px; }
.fixed.fixed-45 .message-row .nick { width: 138px; }
.fixed.fixed-50 .message-row .nick { width: 153px; }
.fixed.fixed-15 .message-row .message { width: 261px; }
.fixed.fixed-20 .message-row .message { width: 246px; }
.fixed.fixed-25 .message-row .message { width: 231px; }
.fixed.fixed-30 .message-row .message { width: 215px; }
.fixed.fixed-35 .message-row .message { width: 200px; }
.fixed.fixed-40 .message-row .message { width: 185px; }
.fixed.fixed-45 .message-row .message { width: 169px; }
.fixed.fixed-50 .message-row .message { width: 154px; }

.font-9  .message-row { font-size:  9px; line-height: 10px; }
.font-10 .message-row { font-size: 10px; line-height: 11px; }
.font-11 .message-row { font-size: 11px; line-height: 12px; }
.font-12 .message-row { font-size: 12px; line-height: 13px; }
.font-13 .message-row { font-size: 13px; line-height: 14px; }
.font-14 .message-row { font-size: 14px; line-height: 15px; }
.font-15 .message-row { font-size: 15px; line-height: 16px; }
.font-16 .message-row { font-size: 16px; line-height: 17px; }
.font-17 .message-row { font-size: 17px; line-height: 18px; }
.font-18 .message-row { font-size: 18px; line-height: 19px; }
.font-19 .message-row { font-size: 19px; line-height: 20px; }
.font-20 .message-row { font-size: 20px; line-height: 21px; }
.font-21 .message-row { font-size: 21px; line-height: 22px; }
.font-22 .message-row { font-size: 22px; line-height: 23px; }

.message-row.debug-message .nick,
.message-row.debug-message .message
{
	color: gray;
}
.message-row.no-seperator .nick .seperator,
.message-row.debug-message .nick .seperator
{
	display: none;
}
.message-row.lostFocus
{
	padding-bottom: 8px;
	margin-bottom: 5px;
	border-bottom: 1px solid;
}

.message-row.selected
{
	background: #000;
	color: #fff !important;
}
body.palm-dark .message-row.selected
{
	background: #fff;
	color: #000 !important;
}
.message-row.selected *
{
	color: #fff !important;
}
body.palm-dark .message-row.selected *
{
	color: #000 !important;
}

.hide-divider table.date-row
{
	display: none;
}

table.date-row
{
	margin-bottom: -8px;
	margin-top: -8px;
}
table.date-row tr td.label
{
	color: #aaa;
}
table.date-row.palm-divider.labeled tr td.left
{
	width: 100%;
	background: url(../images/palm-default/date-stamp-line.png) right center no-repeat;
}
table.date-row.palm-divider.labeled tr td.right
{
	width: 10px;
	background: url(../images/palm-default/date-stamp-line.png) left center no-repeat;
}



/*
 * File/Folder Picker Styles
 */
.folder-picker #list .drawer
{
	border-left: 30px solid #bfbfbd;
	background: url(../images/palm-default/list-separator-light.png) top left repeat-x
}
body.palm-dark .folder-picker #list .drawer
{
	border-left: 30px solid #1b1e20;
	background: url(../images/palm-dark/list-separator-dark.png) top left repeat-x
}
.folder-picker #list .palm-row > .palm-row-wrapper > .icon
{
	float: left;
	width: 25px;
	height: 48px;
	margin-top: 2px;
	margin-right: -4px;
	margin-left: 4px;
	background: url(../images/palm-default/folder.png) center center no-repeat;
}
.folder-picker #list .palm-row.selected > .palm-row-wrapper > .icon,
body.palm-dark .folder-picker #list .palm-row > .palm-row-wrapper > .icon
{
	background: url(../images/palm-dark/folder.png) center center no-repeat;
}
.folder-picker #list .palm-row.open > .palm-row-wrapper > .icon
{
	margin-left: 6px;
	margin-right: -6px;
	background: url(../images/palm-default/folder-open.png) center center no-repeat;
}
.folder-picker #list .palm-row.selected.open > .palm-row-wrapper > .icon,
body.palm-dark .folder-picker #list .palm-row.open > .palm-row-wrapper > .icon
{
	background: url(../images/palm-dark/folder-open.png) center center no-repeat;
}
.folder-picker #list .palm-row > .palm-row-wrapper > .check
{
	display: none;
}
.folder-picker #list .palm-row.check > .palm-row-wrapper > .check
{
	display: block;
	float: right;
	width: 32px;
	height: 48px;
	margin-top: 2px;
	margin-right: 8px;
	margin-left: -10px;
	background: url(../images/palm-default/checkmark-green.png) center center no-repeat;
}
.folder-picker #list .palm-row .palm-row-wrapper .title
{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.file-picker #folderHolder .folder
{
	position: absolute;
	top: 0px;
	width: 321px;
	height: 100%;
	border-width: 38px 26px 13px 25px;
	-webkit-border-image: url(../images/palm-default/file-picker-background.png) 38 26 13 25;
	-webkit-box-sizing: border-box;
}
.file-picker .folder .palm-page-header
{
	position: absolute;
	top: -38px;
	left: -25px;
	width: 320px;
	padding-top: 42px;
	padding-bottom: 0px;
	z-index: 2;
}
.file-picker .folder .palm-page-header .palm-page-header-wrapper
{
	padding-bottom: 0px;
	margin-bottom: -18px;
}
.file-picker .folder .palm-page-header .palm-page-header-wrapper .headerFolderIcon
{
	float: left;
	width: 25px;
	height: 48px;
	margin-top: 2px;
	margin-left: 8px;
	margin-right: 6px;
	background: url(../images/palm-default/folder-open-head.png) center center no-repeat;
}
body.palm-dark .file-picker .folder .palm-page-header .palm-page-header-wrapper .headerFolderIcon
{
	background: url(../images/palm-dark/folder-open-head.png) center center no-repeat;
}
.file-picker .folder .palm-page-header .palm-page-header-wrapper .title
{
	font-weight: bold;
	text-transform: none !important;
	padding-left: 0px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.file-picker #folderHolder .folder .palm-list
{
	width: 320px;
	margin-left: -25px;
	margin-top: -38px;
	padding-top: 90px;
	z-index: 1;
}
.file-picker #folderHolder .folder .palm-list .file-list
{
	margin-bottom: 90px;
}
.file-picker #folderHolder .palm-row > .palm-row-wrapper > .check
{
	display: none;
}
.file-picker #folderHolder .palm-row.check > .palm-row-wrapper > .check
{
	display: block;
	float: right;
	width: 32px;
	height: 48px;
	margin-top: 2px;
	margin-right: 8px;
	margin-left: -10px;
	background: url(../images/palm-default/checkmark-green.png) center center no-repeat;
}
.file-picker #folderHolder .fileIcon,
.file-picker #folderHolder .folderIcon
{
	float: left;
	width: 25px;
	height: 48px;
	margin-top: 2px;
	margin-right: -6px;
	margin-left: 6px;
}
.file-picker #folderHolder .palm-row .fileIcon
{
	background: url(../images/palm-default/file.png) center center no-repeat;
}
.file-picker #folderHolder .palm-row.selected .fileIcon,
body.palm-dark .file-picker #folderHolder .palm-row .fileIcon
{
	background: url(../images/palm-dark/file.png) center center no-repeat;
}
.file-picker #folderHolder .palm-row .folderIcon
{
	background: url(../images/palm-default/folder.png) center center no-repeat;
}
.file-picker #folderHolder .palm-row.selected .folderIcon,
body.palm-dark .file-picker #folderHolder .palm-row .folderIcon
{
	background: url(../images/palm-dark/folder.png) center center no-repeat;
}
.file-picker #folderHolder .palm-row .palm-row-wrapper .title
{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

/*
 * Help Scene Styles
 */
.help .palm-text-wrapper .palm-body-text#appdetails
{
	margin-bottom: 2px;
}
.help .palm-text-wrapper .palm-body-text.devs
{
	font-size: 14px;
	margin-bottom: 6px;
}
.help .palm-text-wrapper .palm-body-text.copy
{
	margin-top: -8px;
}
.help .list_scene
{
	position:relative;
	left:48px;
	top:10px;
	width:32px; 
	height:32px;
	vertical-align:bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.help .img_web
{
	position:relative;
	left:8px;
	top:10px;
	width:32px; 
	height:32px;
	background: url(../images/help/application-web.png) no-repeat  bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.help .img_email
{
	position:relative;
	left:8px;
	top:10px;
	width:32px; 
	height:32px;
	background: url(../images/help/application-email.png) no-repeat bottom;
	vertical-align:bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.help .img_changelog
{
	position:relative;
	left:8px;
	top:10px;
	width:32px; 
	height:32px;
	background: url(../images/help/scene-changelog.png) no-repeat  bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.help .img_wirc
{
	position:relative;
	left:8px;
	top:10px;
	width:32px;
	height:32px;
	background: url(../icon.png) no-repeat bottom;
	-webkit-background-size: 32px 32px;
	vertical-align:bottom;
	padding: 0px 0px 0px 5px;
	float:left;
}
.help #data
{
	padding: 10px;
	font-size: 18px;
}
.help #data ul
{
	margin: 0px;
	padding-top: 10px;
	padding-left: 26px;
	padding-right: 0px;
	padding-bottom: 10px;
}


/*
 * Network / Lag icon map
 */
.network
{
	float: left;
	width: 21px;
	height: 18px;
	margin-left: 13px;
	margin-right: 2px;
}
.network div.img
{
	width: 21px;
	height: 18px;
	background-image: url(../images/palm-default/network-lag.png);
	background-repeat: no-repeat;
}
.palm-header .network
{
	float: left;
	margin: 0px;
	margin-left: -5px;
	margin-top: 15px;
	margin-right: 5px; 
}
.network.1x.lag-0 div.img				{ background-position:    0px    0px; }
.network.1x.lag-1 div.img				{ background-position:    0px  -18px; }
.network.1x.lag-2 div.img				{ background-position:    0px  -36px; }
.network.1x.lag-3 div.img				{ background-position:    0px  -54px; }
.network.1x.lag-4 div.img				{ background-position:    0px  -72px; }
.network.1x.lag-5 div.img				{ background-position:    0px  -90px; }
.network.3g.lag-0 div.img				{ background-position:  -21px    0px; }
.network.3g.lag-1 div.img				{ background-position:  -21px  -18px; }
.network.3g.lag-2 div.img				{ background-position:  -21px  -36px; }
.network.3g.lag-3 div.img				{ background-position:  -21px  -54px; }
.network.3g.lag-4 div.img				{ background-position:  -21px  -72px; }
.network.3g.lag-5 div.img				{ background-position:  -21px  -90px; }
.network.edge.lag-0 div.img				{ background-position:  -42px    0px; }
.network.edge.lag-1 div.img				{ background-position:  -42px  -18px; }
.network.edge.lag-2 div.img				{ background-position:  -42px  -36px; }
.network.edge.lag-3 div.img				{ background-position:  -42px  -54px; }
.network.edge.lag-4 div.img				{ background-position:  -42px  -72px; }
.network.edge.lag-5 div.img				{ background-position:  -42px  -90px; }
.network.evdo.lag-0 div.img				{ background-position:  -63px    0px; }
.network.evdo.lag-1 div.img				{ background-position:  -63px  -18px; }
.network.evdo.lag-2 div.img				{ background-position:  -63px  -36px; }
.network.evdo.lag-3 div.img				{ background-position:  -63px  -54px; }
.network.evdo.lag-4 div.img				{ background-position:  -63px  -72px; }
.network.evdo.lag-5 div.img				{ background-position:  -63px  -90px; }
.network.gprs.lag-0 div.img				{ background-position:  -84px    0px; }
.network.gprs.lag-1 div.img				{ background-position:  -84px  -18px; }
.network.gprs.lag-2 div.img				{ background-position:  -84px  -36px; }
.network.gprs.lag-3 div.img				{ background-position:  -84px  -54px; }
.network.gprs.lag-4 div.img				{ background-position:  -84px  -72px; }
.network.gprs.lag-5 div.img				{ background-position:  -84px  -90px; }
.network.hsdpa.lag-0 div.img			{ background-position: -105px    0px; }
.network.hsdpa.lag-1 div.img			{ background-position: -105px  -18px; }
.network.hsdpa.lag-2 div.img			{ background-position: -105px  -36px; }
.network.hsdpa.lag-3 div.img			{ background-position: -105px  -54px; }
.network.hsdpa.lag-4 div.img			{ background-position: -105px  -72px; }
.network.hsdpa.lag-5 div.img			{ background-position: -105px  -90px; }
.network.roaming.lag-0 div.img			{ background-position: -126px    0px; }
.network.roaming.lag-1 div.img			{ background-position: -126px  -18px; }
.network.roaming.lag-2 div.img			{ background-position: -126px  -36px; }
.network.roaming.lag-3 div.img			{ background-position: -126px  -54px; }
.network.roaming.lag-4 div.img			{ background-position: -126px  -72px; }
.network.roaming.lag-5 div.img			{ background-position: -126px  -90px; }
.network.umts.lag-0 div.img				{ background-position: -147px    0px; }
.network.umts.lag-1 div.img				{ background-position: -147px  -18px; }
.network.umts.lag-2 div.img				{ background-position: -147px  -36px; }
.network.umts.lag-3 div.img				{ background-position: -147px  -54px; }
.network.umts.lag-4 div.img				{ background-position: -147px  -72px; }
.network.umts.lag-5 div.img				{ background-position: -147px  -90px; }
.network.wifi.lag-0 div.img				{ background-position: -168px    0px; }
.network.wifi.lag-1 div.img				{ background-position: -168px  -18px; }
.network.wifi.lag-2 div.img				{ background-position: -168px  -36px; }
.network.wifi.lag-3 div.img				{ background-position: -168px  -54px; }
.network.wifi.lag-4 div.img				{ background-position: -168px  -72px; }
.network.wifi.lag-5 div.img				{ background-position: -168px  -90px; }

