
/*
 * Global Styles
 */
.scene-fade-top
{
	position: fixed; 
	top: 0px; 
	z-index: 11000;
	height: 30px; 
	width: 100%;
	background: url(../images/palm-default/fade-top.png) top center repeat-x;
	-webkit-palm-mouse-target: ignore;
}
.scene-fade-bottom
{
	position: fixed; 
	bottom: 0px; 
	z-index: 11000;
	height: 30px; 
	width: 100%;
	background: url(../images/palm-default/fade-bottom.png) bottom center repeat-x;
	-webkit-palm-mouse-target: ignore;
}
body.palm-dark .scene-fade-top
{
	background: url(../images/palm-dark/fade-top.png) top center repeat-x;
}
body.palm-dark .scene-fade-bottom
{
	background: url(../images/palm-dark/fade-bottom.png) bottom center repeat-x;
}



/*
 * Server List Scene Styles
 */
.server-list .palm-list .palm-row-wrapper
{
	padding-right: 4px;
}
.server-list .palm-list .palm-row-wrapper .title.alias
{
	padding-top: 5px;
	margin-top: 0px;
}
.server-list .palm-list .palm-row-wrapper .sub
{
	color: #999;
	font-size: 14px;
	padding-top: 0px;
	margin-top: -16px;
	padding-left: 16px;
	padding-bottom: 8px;
}
.server-list .palm-list .palm-row-wrapper .title.address
{
	display: none;
}
.server-list .palm-list .palm-row-wrapper.address-title .sub,
.server-list .palm-list .palm-row-wrapper.address-title .title.alias
{
	display: none;
}
.server-list .palm-list .palm-row-wrapper.address-title .title.address
{
	display: block;
}

.server-list .palm-list .palm-row-wrapper .button
{
	float: right;
	width: 48px;
	height: 49px;
	margin: 0px;
	padding: 0px;
	background-position: top center;
	background-repeat: no-repeat;
}
.server-list .palm-list .palm-row-wrapper .button.prefs
{
	background-image: url(../images/list-button-prefs.png);
}
.server-list .palm-list .palm-row-wrapper.connected .button.status
{
	background-image: url(../images/list-button-connected.png);
}
.server-list .palm-list .palm-row-wrapper.disconnected .button.status
{
	background-image: url(../images/list-button-disconnected.png);
}
.server-list .palm-list .palm-row-wrapper .button.prefs.selected,
.server-list .palm-list .palm-row-wrapper.connected .button.status.selected,
.server-list .palm-list .palm-row-wrapper.disconnected .button.status.selected
{
	background-position: bottom center;
}



/*
 * Form Styles - Scene Inspecific
 */
.form .palm-row-wrapper .label.left
{
	padding-left: 6px;
	-webkit-palm-mouse-target: ignore;
}
.form .palm-row-wrapper .sliderTitle
{
	padding-right: 22px;
	line-height: 26px;
	height: 26px;
	vertical-align: middle;
}
.form .palm-row-wrapper .slider
{
	margin-top: -6px;
	padding-bottom: 18px;
}
.form .palm-list-selector .label
{
	float: left;
}
.form .palm-list-selector .title
{
	text-align: right;
}
.form .palm-group.disabled
{
	opacity: 0.35;
}



/*
 * Server Status Scene Styles
 */
.server-status #popButton
{
	position: absolute;
	right: -16px;
	bottom: 7px;
	height: 35px;
	width: 38px;
	border-width: 0px 16px 0px 16px;
	-webkit-box-sizing: border-box;
	-webkit-border-image: url(../images/header-button-press.png);
	-webkit-border-image: url(../images/header-button.png) 0 16 0 16 stretch stretch;
}
.server-status #popButton.selected
{
	-webkit-border-image: url(../images/header-button-press.png) 0 16 0 16 stretch stretch;
}
.server-status #popButton .icon
{
	margin: 0px;
	padding: 0px;
	margin-top: 5px;
	margin-left: -8px;
	width: 21px;
	height: 23px;
	background: url(../images/pop-icon.png) center center no-repeat;
}
.server-status #messageList
{
	height: 100%;
	margin-bottom: 6px;
}



/*
 * Channel Chat Scene Styles
 */
.channel-chat #messageList
{
	height: 100%;
	margin-bottom: 6px;
}



/*
 * Input Styles - Scene Inspecific
 */
.inputFooter
{
	position: fixed;
	bottom: 0px;
	z-index: 11000;
	width: 320px;
}
.inputFooter #inputWidget
{
	overflow: hidden;
	max-height: 200px;
	padding-right: 40px;
}
.inputFooter #inputWidget div.multiline-text
{
	margin-top: -1px;
	margin-bottom: -2px;
}
body.palm-dark .inputFooter #inputWidget *
{
	color: #fff;
}
.inputFooter .sendButton {
	position: absolute;
	width: 48px;
	height: 48px;
	padding: 0px;
	margin: 0px;
	right: 2px;
	bottom: 2px;
	background: url(../images/send-airplane-press.png) top left no-repeat;	
	background: url(../images/send-airplane.png) top left no-repeat;
}
.inputFooter .sendButton.selected {
	background: url(../images/send-airplane-press.png) top left no-repeat;	
}



/*
 * Message Styles - Scene Inspecific
 */
.lefta .message-row
{
	min-height: 8px;
	clear: both;
	padding: 1px 5px 2px 8px;
}
.lefta .message-row .nick
{
	display: inline;
}
.lefta .message-row .message
{
	color: #222;
	word-wrap: break-word !important;
	display: inline;
}
.fixed .message-row
{
	min-height: 8px;
	clear: both;
	padding: 1px 0px 2px 0px;
}
.fixed .message-row .nick
{
	display: block;
	float: left;
	padding-left: 2px;
	padding-right: 3px; 
	text-align: right;
	width: 95px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.fixed .message-row .message
{
	color: #222;
	word-wrap: break-word !important;
	display: block;
	float: left;
	padding-left: 3px;
	padding-right: 5px;
	width: 212px;
}
body.palm-dark .message-row .message
{
	color: #e4e4e4;
}

.fixed.fixed-15 .message-row .nick { width:  46px; }
.fixed.fixed-20 .message-row .nick { width:  61px; }
.fixed.fixed-25 .message-row .nick { width:  76px; }
.fixed.fixed-30 .message-row .nick { width:  92px; }
.fixed.fixed-35 .message-row .nick { width: 107px; }
.fixed.fixed-40 .message-row .nick { width: 122px; }
.fixed.fixed-45 .message-row .nick { width: 138px; }
.fixed.fixed-50 .message-row .nick { width: 153px; }
.fixed.fixed-15 .message-row .message { width: 261px; }
.fixed.fixed-20 .message-row .message { width: 246px; }
.fixed.fixed-25 .message-row .message { width: 231px; }
.fixed.fixed-30 .message-row .message { width: 215px; }
.fixed.fixed-35 .message-row .message { width: 200px; }
.fixed.fixed-40 .message-row .message { width: 185px; }
.fixed.fixed-45 .message-row .message { width: 169px; }
.fixed.fixed-50 .message-row .message { width: 154px; }

.font-9  .message-row { font-size:  9px; line-height: 10px; }
.font-10 .message-row { font-size: 10px; line-height: 11px; }
.font-11 .message-row { font-size: 11px; line-height: 12px; }
.font-12 .message-row { font-size: 12px; line-height: 13px; }
.font-13 .message-row { font-size: 13px; line-height: 14px; }
.font-14 .message-row { font-size: 14px; line-height: 15px; }
.font-15 .message-row { font-size: 15px; line-height: 16px; }
.font-16 .message-row { font-size: 16px; line-height: 17px; }
.font-17 .message-row { font-size: 17px; line-height: 18px; }
.font-18 .message-row { font-size: 18px; line-height: 19px; }
.font-19 .message-row { font-size: 19px; line-height: 20px; }
.font-20 .message-row { font-size: 20px; line-height: 21px; }
.font-21 .message-row { font-size: 21px; line-height: 22px; }
.font-22 .message-row { font-size: 22px; line-height: 23px; }

.message-row.action-message .nick,
.message-row.action-message .message
{
	color: purple; /*navy;*/
}
.message-row.event-message .nick,
.message-row.event-message .message
{
	color: green;
}
.message-row.status-message .nick,
.message-row.status-message .message
{
	color: red; /*maroon;*/
}
.message-row.action-message .nick .seperator,
.message-row.event-message .nick .seperator,
.message-row.status-message .nick .seperator
{
	display: none;
}

