
/*
 * Global Styles
 */
.scene-fade-top
{
	position: fixed; 
	top: 0px; 
	z-index: 11000;
	height: 30px; 
	width: 100%;
	background: url(../images/fade-top.png) top center repeat-x;
	-webkit-palm-mouse-target: ignore;
}
.scene-fade-bottom
{
	position: fixed; 
	bottom: 0px; 
	z-index: 11000;
	height: 30px; 
	width: 100%;
	background: url(../images/fade-bottom.png) bottom center repeat-x;
	-webkit-palm-mouse-target: ignore;
}



/*
 * Server List Scene Styles
 */
.server-list .palm-list .palm-row-wrapper
{
	padding-right: 4px;
}
.server-list .palm-list .palm-row-wrapper .title.alias
{
	padding-top: 5px;
	margin-top: 0px;
}
.server-list .palm-list .palm-row-wrapper .sub
{
	color: #999;
	font-size: 14px;
	padding-top: 0px;
	margin-top: -16px;
	padding-left: 16px;
	padding-bottom: 8px;
}
.server-list .palm-list .palm-row-wrapper .title.address
{
	display: none;
}
.server-list .palm-list .palm-row-wrapper.address-title .sub,
.server-list .palm-list .palm-row-wrapper.address-title .title.alias
{
	display: none;
}
.server-list .palm-list .palm-row-wrapper.address-title .title.address
{
	display: block;
}

.server-list .palm-list .palm-row-wrapper .button
{
	float: right;
	width: 48px;
	height: 49px;
	margin: 0px;
	padding: 0px;
	background-position: top center;
	background-repeat: no-repeat;
}
.server-list .palm-list .palm-row-wrapper .button.prefs
{
	background-image: url(../images/list-button-prefs.png);
}
.server-list .palm-list .palm-row-wrapper.connected .button.status
{
	background-image: url(../images/list-button-connected.png);
}
.server-list .palm-list .palm-row-wrapper.disconnected .button.status
{
	background-image: url(../images/list-button-disconnected.png);
}
.server-list .palm-list .palm-row-wrapper .button.prefs.selected,
.server-list .palm-list .palm-row-wrapper.connected .button.status.selected,
.server-list .palm-list .palm-row-wrapper.disconnected .button.status.selected
{
	background-position: bottom center;
}



/*
 * Server Info Scene Styles
 */
.server-info .palm-row-wrapper .label.left
{
	padding-left: 6px;
	-webkit-palm-mouse-target: ignore;
}
.server-info .palm-list-selector .label
{
	float: left;
}
.server-info .palm-list-selector .title
{
	text-align: right;
}
.server-info .palm-group.disabled
{
	opacity: 0.35;
}



/*
 * Server Status Scene Styles
 */
#mojo-scene-server-status-scene-scroller
{
	background-color: #fcfcfc;
}
#mojo-scene-server-status-scene-scroller .scene-fade-top
{
	background-image: url(../images/fade-top-white.png);
}
#mojo-scene-server-status-scene-scroller .scene-fade-bottom
{
	bottom: 55px; 
	background-image: url(../images/fade-bottom-white.png);
}
.server-status #popButton
{
	position: absolute;
	right: -16px;
	bottom: 7px;
	height: 35px;
	width: 38px;
	border-width: 0px 16px 0px 16px;
	-webkit-box-sizing: border-box;
	-webkit-border-image: url(../images/header-button-press.png);
	-webkit-border-image: url(../images/header-button.png) 0 16 0 16 stretch stretch;
}
.server-status #popButton.selected
{
	-webkit-border-image: url(../images/header-button-press.png) 0 16 0 16 stretch stretch;
}
.server-status #popButton .icon
{
	margin: 0px;
	padding: 0px;
	margin-top: 5px;
	margin-left: -8px;
	width: 21px;
	height: 23px;
	background: url(../images/pop-icon.png) center center no-repeat;
}
.server-status #messageList
{
	height: 100%;
	padding-bottom: 58px;
}
/*.server-status #messageList .palm-row
{
	min-height: 35px;
	background: none;
}*/


/*
 * Input Styles - Scene Inspecific
 */
.inputFooter
{
	position: fixed;
	bottom: 0px;
	z-index: 11000;
	width: 320px;
}
.inputFooter .bevel
{
	height: 4px;
	background: url(../images/input-top-bevel.png) top center repeat-x;
}
.inputFooter #inputWidget
{
	overflow: hidden; 
	max-height: 200px;
	padding-right: 40px;
}
.inputFooter .sendButton {
	position: absolute;
	width: 48px;
	height: 48px;
	padding: 0px;
	margin: 0px;
	right: 2px;
	bottom: 2px;
	background: url(../images/send-airplane-press.png) top left no-repeat;	
	background: url(../images/send-airplane.png) top left no-repeat;
}
.inputFooter .sendButton.selected {
	background: url(../images/send-airplane-press.png) top left no-repeat;	
}


/*
 * Message Styles - Scene Inspecific
 */
.message-row
{
	/*min-height: 22px;
	line-height: 22px;*/
	font-size: 16px;
	clear: both;
	
	/* left-aligned */
	padding: 1px 5px 2px 8px;
	
	/* center-break */
	/*padding: 1px 0px 2px 0px;*/
}
.message-row .nick
{
	/* left-aligned */
	display: inline;
	
	/* center-break */
	/*display: block;
	float: left;
	padding-left: 2px;
	padding-right: 3px; 
	text-align: right;
	width: 95px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;*/
}
.message-row .message
{
	color: #222;
	word-wrap: break-word !important;
	
	/* left-aligned */
	display: inline;
	
	/* center-break */
	/*display: block;
	float: left;
	padding-left: 3px; 
	padding-right: 5px; 
	width: 212px;*/
	
}
.message-row.action-message .nick,
.message-row.action-message .message
{
	color: purple; /*navy;*/
}
.message-row.event-message .nick,
.message-row.event-message .message
{
	color: green;
}
.message-row.status-message .nick,
.message-row.status-message .message
{
	color: red; /*maroon;*/
}
.message-row.action-message .nick .seperator,
.message-row.event-message .nick .seperator,
.message-row.status-message .nick .seperator
{
	display: none;
}

