<div class="form identity" id="container">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div class="help-toggle" id="help-toggle" x-mojo-tap-highlight="persistent"></div>
			<div class="icon" id="icon"></div>
			<div class="title">Identity</div>
		</div>
	</div>
	
	<div class="palm-group">
		<div class="palm-group-title">Real Name</div>
		<div class="palm-list">
		
			<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="help-overlay" id="help-realname"></div>
					<div class="title">
						<div id="realname" x-mojo-element="TextField"></div>
					</div>
				</div>
			</div>		
		
		</div>
	</div>
	
	<div class="palm-group">
		<div class="palm-group-title">Nicknames</div>
		<div class="help-overlay" id="help-nickList"></div>
		<div class="palm-list" id="nickList" x-mojo-element="List"></div>
	</div>
	
	<div x-mojo-element="Button" id="identDone" class="identDone"></div>
	
	<div class="palm-inline-error" style="display: none;" id="error_message">
		<div class="error-message">Invalid Characters.<br />Please Try again.</div>
	</div>
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>
