<div class="form identity">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div class="icon"></div>
			<div class="title">Identity</div>
		</div>
	</div>
	
	<div class="palm-group">
		<div class="palm-group-title">Nick / Handle</div>
		<div class="palm-list">
			
			<div class="palm-row first">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">Primary</div>
						<div id="nick1" x-mojo-element="TextField"></div>
					</div>
				</div>
			</div>
			
			<div class="palm-row">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">Secondary</div>
						<div id="nick2" x-mojo-element="TextField"></div>
					</div>
				</div>
			</div>
			
			<div class="palm-row last">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">Tertiary</div>
						<div id="nick3" x-mojo-element="TextField"></div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>