<div class="about">
	
	<div class="logo-block">
		<div class="logo"></div>
		<div class="versions">
			<div>
				<span style="font-weight: bold">Gui Version: </span>
				<span class="guiVersion" id="guiVersion"></span>
			</div>
			<div>
				<span style="font-weight: bold">Service Version: </span>
				<span class="serviceVersion" id="serviceVersion"></span>
			</div>
		</div>
		
	</div>
	
	<div><span>&copy; 2009 by the wIRC Project</span></div>
	<div><span><a href="http://webos-irc.info">http://webos-irc.info</a></span></div>
	
	<div class="dev-list">
		<div class="by"><span>wIRC is mainly developed by:</span></div>
		<div class="dev">
			<span class="dev-name">Eric Gaudet</span>
			<span>, </span>
			<span class="dev-role">Developer</span>
		</div>
		<div class="dev">
			<span class="dev-name">Ryan Hope</span>
			<span>, </span>
			<span class="dev-role">Lead Service Developer</span>
		</div>
		<div class="dev">
			<span class="dev-name">Brandon VanBelle</span>
			<span>, </span>
			<span class="dev-role">Lead GUI Developer</span>
		</div>
	</div>
	
</div>