<div class="form prefs">
	
	<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
	
	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div id="pageSelector" class="page-selector">
				<div id="pageName" class="page-name">none</div>
			</div>
			<div class="icon"></div>
			<div class="title">Preferences</div>
		</div>
	</div>
	
	<div class="palm-group">
		<div class="palm-group-title">
			<div class="right">Command</div>
			Alias
		</div>
		<div class="palm-list" id="aliasList" x-mojo-element="List"></div>
	</div>
	
	<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
	
</div>